<template>
    <div class="form-control-group" :class="{'inline-label': IsInline}">
        <label v-if="!!label">{{label}}</label>
        <input type="text" 
               class="form-control form-control-sm" 
               :placeholder="placeholder"
               :disabled="disabled"
               :required="required"
               :value="modelValue"
               @input="$emit('update:modelValue', $event.target.value)"/>
    </div>
</template>

<script>
    import prop from '../../baseProp';


    export default {
        props: {
            disabled: prop.Boolean(false, false),
            required: prop.Boolean(false, false),
            modelValue: prop.String(true),
            placeholder: prop.String(false),
            label: prop.String(false),
            inline: prop.Boolean(false, false)
        },
        emits: {
            'update:modelValue': null
        },
        computed: {
            IsInline: function () {
                return this.inline === undefined || this.inline.toString() === "true";
            }
        }
    }

</script>