<template>
   <div class="form-control-group" :class="{'inline-label': inlineLabel.toString() === 'true'}">
      <label>{{label}}<span class="text-danger" v-if="isRequired">*</span></label>
      <slot />
   </div>
</template>

<script>
import baseProp from '../../baseProp'
export default {
   props: {
      label: baseProp.String(true),
      inlineLabel: baseProp.Boolean(false, false),
   },
   data: function(){
      return {
         isRequired: false,
      }
   },
   mounted: function(){
      this.isRequired = this.$el.querySelector("[required], [min]") !== undefined;
   }
}
</script>