<template>
    <FlowDesigner v-model="automationFlow"></FlowDesigner>
</template>

<script>

    export default {

        data: function () {
            return {
                automationFlow: {
                    Items: [
                        {
                            AutomationItemId: 1,
                            AutomationType: 1, // Trigger
                            Type: 2, // Device Change
                            Name: "Device Change",
                            Description: "Alarm",
                        },
                        {
                            AutomationItemId: 2,
                            AutomationType: 2, // Action
                            Type: 1, // If
                            Name: "If",
                            Description: "Between 20:00 and 08:00"
                        },
                        {
                            AutomationItemId: 3,
                            AutomationType: 3, // Condition
                            Type: 1, // Device
                            Name: "Device",
                            Description: "Set WS2811 Effect"
                        },

                    ],
                    Links: [
                        {
                            AutomationItemLinkId: 1,
                            ParentAutomationItemId: 1,
                            ChildAutomationItemId: 2,
                            Type: 0, // Default
                            Points: [
                                { x: 100, y: 100 },
                                { x: 300, y: 100 },
                            ]
                        },
                        {
                            AutomationItemLinkId: 2,
                            ParentAutomationItemId: 2,
                            ChildAutomationItemId: 3,
                            Type: 1, // True
                            Points: [
                                { x: 300, y: 100 },
                                { x: 500, y: 200 },
                            ]
                        },
                    ]
                }
            }
        },
        methods: {

        },
        computed: {

        },
        watch: {

        },
        mounted: function () {
            //var data = {
                
            //};

            //var options = {
            //    data: data,
            //}
            //new FlowDesigner(this.$refs.flowDesigner, options);
        }
    }
</script>



