<template>
    <div class="flex">

        <div class="w-64">
            <h2>Automation</h2>

            <button type="button" class="form-button btn w-full text-left bg-transparent hover:bg-coolGray-400 hover:bg-opacity-5 mt-3">
                <i class="bi bi-info-circle text-xs"></i>
                <span class="text-sm">Details</span>
            </button>

            <div>
                <AutomationFlowPreview v-model="automation"/>
            </div>
        </div>
        <div class="flex justify-center flex-grow">
            <div class="max-w-2xl w-full">
                <AutomationTypePicker
                    v-if="!(SelectedAutomationItem.AutomationType > 0)"
                    v-model="SelectedAutomationItem"
                    :automation-types="AutomationTypes"
                    title="Add Component"
                    description="Components can either restrict execution by testing a condition, perform an action, or control flow by branching on related issues.">

                </AutomationTypePicker>
                
                <AutomationItemPicker
                    v-else-if="!(SelectedAutomationItem.Type > 0)"
                    v-model="SelectedAutomationItem"
                    :item-types="AutomationItemTypes[SelectedAutomationItem.AutomationType]"
                    :title="SelectedAutomationItem.Name"
                    :description="SelectedAutomationItem.Description">
                    <template v-slot:title-icon>
                        <div class="trigger-badge" v-if="SelectedAutomationItem.AutomationType == 1">
                            <i :class="SelectedAutomationItem.IconClass"></i>
                        </div>
                        <div class="condition-badge" v-else-if="SelectedAutomationItem.AutomationType == 2">
                            <i :class="SelectedAutomationItem.IconClass"></i>
                        </div>
                        <div class="action-badge" v-else-if="SelectedAutomationItem.AutomationType == 3">
                            <i :class="SelectedAutomationItem.IconClass"></i>
                        </div>
                    </template>
                </AutomationItemPicker>

                <AutomationItemDetails v-else
                    v-model="SelectedAutomationItem.Details"
                    :inputs="SelectedAutomationItemType.Inputs"
                    @cancel="SelectedAutomationItem.Type = null"
                    @save="selectedAutomationItemSaved"
                    :title="SelectedAutomationItemType.Name"
                    :description="SelectedAutomationItemType.Description">
                    <template v-slot:title-icon>
                        <div class="trigger-badge">
                            <i class="bi bi-lightning-charge-fill"></i>
                        </div>
                    </template>
                </AutomationItemDetails>
            </div>
        </div>
    </div>
</template>

<script>
    import AutomationTypePicker from '@/components/Automation/AutomationTypePicker'
    import AutomationItemPicker from '@/components/Automation/AutomationItemPicker'
    import AutomationItemDetails from '@/components/Automation/AutomationItemDetails'
    import AutomationFlowPreview from '@/components/Automation/AutomationFlowPreview'

    export default {
        name: "Details",
        components: {
            AutomationTypePicker,
            AutomationItemPicker,
            AutomationFlowPreview,
            AutomationItemDetails,
        },

        data: function () {
            return {
                automation: [
                    //{ AutomationType: 1, Name: "New Trigger", Description: "Select an event or schedule", IconClass: "bi bi-lightning-charge-fill", Details: {}, selected: true }
                    { "AutomationType": 1, "Name": "New Trigger", "Description": "Select an event or schedule", "IconClass": "bi bi-lightning-charge-fill", "Details": { "Time": "20:00", "Days": [0, 1, 2] }, "Type": 1},
                    { "AutomationType": 3, "IconClass": "fas fa-paper-plane text-sm", "Description": "Fire an event based on a predefined schedule", "Name": "New Action", "Type": 1, Details: {}, selected: true}
                ],

                devices: [],
            }
        },
        methods: {
            selectedAutomationItemSaved: function () {
                this.automation.forEach(x => x.selected = false);
            }
        },
        computed: {
            AutomationTypes: function () {
                var automationTypes = [
                    { AutomationType: 1, Name: "New Trigger", IconClass: "bi bi-lightning-charge-fill", Description: "Fire an event based on a predefined schedule" },
                    { AutomationType: 2, Name: "New Condition", IconClass: "bi bi-shuffle", Description: "Fire an event based on a predefined schedule" },
                    { AutomationType: 3, Name: "New Action", IconClass: "fas fa-paper-plane text-sm", Description: "Fire an event based on a predefined schedule" },
                    //{ AutomationType: 4, Name: "New Branch Rule", IconClass: "bi bi-bolt", Description: "Fire an event based on a predefined schedule" },
                ];

                if (this.automation.filter(x => x.AutomationType == 1).length > 0)
                    return automationTypes.filter(x => x.AutomationType != 1);
                else
                    return automationTypes.filter(x => x.AutomationType == 1);
            },
            AutomationItemTypes: function () {
                return {
                    // Triggers
                    1: [ 
                        { AutomationType: 1, Type: 1, Name: "Scheduled", IconClass: "bi bi-alarm", Description: "Fire an event based on a predefined schedule", Summary: "", Inputs: [
                            { Name: "Time", Type: "timepicker", Required: true, DefaultValue: this.$date().format("HH:mm") },
                            { Name: "Days", Type: "dayofweek", Required: true, DefaultValue: [0, 1, 2]},
                        ]},
                        { Disabled: true, AutomationType: 1, Type: 2, Name: "Device State", IconClass: "bi bi-cpu", Description: "Perform an automation whenever a device state changes" },
                        { Disabled: true, AutomationType: 1, Type: 3, Name: "Device Timeout", IconClass: "bi bi-pause-fill", Description: "If the a spesific or any device failes to respond to a request" },
                        { Disabled: true, AutomationType: 1, Type: 4, Name: "Device Callback Success", IconClass: "bi bi-hand-thumbs-up", Description: "The device responded successfully to a request" },
                        { Disabled: true, AutomationType: 1, Type: 5, Name: "Device Callback Failiour", IconClass: "bi bi-hand-thumbs-down", Description: "The device responded with a failiour to a request" },
                    ],
                    // Conditions
                    2: [
                        { Disabled: true, AutomationType: 2, Type: 1, Name: "Advanced", IconClass: "bi bi-shuffle", Description: "Create Advanced conditions" },
                        { Disabled: true, AutomationType: 2, Type: 1, Name: "Is Equal", IconClass: "fas fa-equals text-sm", Description: "Basic condition that compares to inputs" },
                        { Disabled: true, AutomationType: 2, Type: 1, Name: "Greater Than", IconClass: "fas fa-greater-than-equal text-sm", Description: "Basic condition that compares to inputs" },
                        { Disabled: true, AutomationType: 2, Type: 1, Name: "Less Than", IconClass: "fas fa-less-than-equal text-sm", Description: "Basic condition that compares to inputs" },
                    ],
                    // Actions
                    3: [
                        { AutomationType: 3, Type: 1, Name: "Device", IconClass: "bi bi-cpu", Description: "Change one or more device states", Inputs: [
                            { Name: "Device", Type: "Select", Required: true, DefaultValue: null, Options: this.devices },
                            { Name: "Data Preset", Type: "datapreset", Required: true, DefaultValue: null },
                        ]},
                        { Disabled: true, AutomationType: 3, Type: 1, Name: "MQTT", IconClass: "bi bi-chat-square-dots", Description: "Send a mqtt request to one or more topics with a message custom defined message", Inputs: [
                            { Name: "Endpoint", Type: "MQTTEndpoint", Required: true, DefaultValue: null },
                            { Name: "Data Preset", Type: "datapreset", Required: true, DefaultValue: null },
                        ]},
                        { Disabled: true, AutomationType: 3, Type: 1, Name: "Web Request", IconClass: "bi bi-globe2", Description: "Send a web request to one or more endpoints with a custom defined body" , Inputs: [
                            { Name: "Device", Type: "Select", Required: true, DefaultValue: null, Options: this.devices },
                            { Name: "Data Preset", Type: "datapreset", Required: true, DefaultValue: null },
                        ]},
                        
                    ],
                }
            },

            SelectedAutomationItemType: function () {
                var automationItemType = this.AutomationItemTypes[this.SelectedAutomationItem.AutomationType];
                return automationItemType.find(x => x.Type == this.SelectedAutomationItem.Type) || {};
            },

            SelectedAutomationItem: {
                get: function () {
                    return this.automation.find(x => x.selected) || {};
                },
                set: function (value) {
                    var index = this.automation.findIndex(x => x.selected);

                    if (index > -1) {
                        this.automation.splice(index, 1, value);
                    }
                    else {
                        this.automation.forEach(x => x.selected = false);
                        value.selected = true;

                        this.automation.push(value);
                    }
                }
            },
        },
        watch: {

        },
        mounted: function () {
            this.$dataService.Device.GetList().then(devices => this.devices = devices)
            console.log(123)
        }
    }
</script>



