<template>
    <div>
        <div class="text-right">
            <router-link type="button" class="btn btn-sm btn-primary" to="/automation/new">
                <i class="fas fa-plus"></i>
                <span>New</span>
            </router-link>
        </div>
        <tableElement table-id="1" v-model="automations">

        </tableElement>
    </div>
</template>

<script>

    export default {

        data: function () {
            return {
                automations: {
                    IsLoading: false,
                    TotalNumberOfItems: undefined,
                    Filter: {
                        CurrentPage: 1,
                        ItemsPerPage: 50,

                        OrderBy: 1,
                        OrderByDesc: true,
                    },
                    List: [],
                    Options: {

                    }

                }
            }
        },
        methods: {

        },
        computed: {
        },
        watch: {

        },
        mounted: function () {

        }
    }
</script>



