<template>
    <div class="w-full h-4/12 bg-blueGray-100 shadow-default rounded-md">

    </div>
</template>

<script>
    export default {

        data: function() {
            return {
              
            }
        },
        methods: {

        },
        computed: {

        },
        watch: {

        },
        mounted: function() {


        }
    }
</script>
