﻿<template>
    <div>
        <div class="wheel"
             :style="{ height: size + 'px', width: size + 'px'}"
             @mousedown="onMouseDown"
             @mousemove="onMouseMove" 
             @mouseup="editing = false">
            <div class="handle" :style="HandleStyle"></div>
        </div>
    </div>
</template>

<script>
    // https://github.com/ahmethalac/react-color-picker-wheel

    // TODO:
    //      - Brightness slider
    //      - Saturation slider

    import { hexToRGB, rgbToHex, rgbToHsl, hslToRgb, hsToCoordinates, coordinatesToHS } from './helpers/utils';

    export default {
        props: {
            size: {
                type: Number,
                required: false,
                default: ()=> 200
            },
            modelValue: {
                // type: Object,
                required: true,
            }
        },
        emits: [
            "update:modelValue"
        ],
        data: function () {
            return {
                editing: false
            }
        },
        methods: {
            onMouseDown: function (event) {
                this.editing = true;
                this.handleMouseEvent(event);
            },
            onMouseMove: function (event) {
                if (!this.editing) return;
                this.handleMouseEvent(event);
            },
            handleMouseEvent: function (event) {
                var hsl = coordinatesToHS(
                    (event.clientX - event.currentTarget.getBoundingClientRect().x) / this.size,
                    (event.clientY - event.currentTarget.getBoundingClientRect().y) / this.size,
                );

                let h = parseFloat((hsl.h === undefined ? this.pickedColor.hsl.h : hsl.h).toFixed(2));
                let s = parseFloat((hsl.s === undefined ? this.pickedColor.hsl.s : hsl.s).toFixed(2));
                let l = parseFloat((hsl.l === undefined ? this.pickedColor.hsl.l : hsl.l).toFixed(2));
                let rgb = hslToRgb(h, s, l);
                let hex = rgbToHex(rgb.r, rgb.g, rgb.b);

                this.$emit("update:modelValue", hex);
            }
        },
        computed: {
            pickedColor: function () {
                if (/^#[0-9A-F]{6}$/i.test(this.modelValue)) {
                    let hex = this.modelValue.toUpperCase();
                    let rgb = hexToRGB(this.modelValue);
                    let hsl = rgbToHsl(rgb.r, rgb.g, rgb.b);

                    hsl.l = 50; // ToDo: Allow the user to set a lightness from the ui 
                    rgb = hslToRgb(hsl.h, hsl.s, hsl.l);
                    hex = rgbToHex(rgb.r, rgb.g, rgb.b);

                    return { hex, rgb, hsl };
                } 
                else if (Number.isInteger(this.modelValue.r) && Number.isInteger(this.modelValue.g) && Number.isInteger(this.modelValue.b)) {

                    let hex = rgbToHex(this.modelValue.r, this.modelValue.g, this.modelValue.b);
                    let rgb = this.modelValue;
                    let hsl = rgbToHsl(this.modelValue.r, this.modelValue.g, this.modelValue.b);
                    return { hex, rgb, hsl };
                }
                else {
                    return { hex: '#FF0000', rgb: { r: 255, g: 0, b: 0 }, hsl: { h: 0, s: 100, l: 50 } };
                }
            },
            color: function(){
                return this.pickedColor.hsl
            },
            Pos: function(){
                return hsToCoordinates(this.color.h, this.color.s);
            },
            HandleStyle: function () {
                return {
                    top: this.Pos.y * this.size + 'px',
                    left: this.Pos.x * this.size + 'px',
                }
            }
        },
        mounted: function () {
            var rgb = hexToRGB(this.modelValue);
            var hsl = rgbToHsl(rgb.r, rgb.g, rgb.b);
            var co = hsToCoordinates(hsl.h, hsl.s);

            console.log(123, co);
        },
    }
</script>

<style>
    .wheel{
        cursor: pointer;
        z-index: 1;
        position: relative;
        flex: 1;
        height: 100%;
        border-radius: 100%;
        outline: none;
        background: radial-gradient(circle at 50% 0,red,rgba(242,13,13,.8) 10%,rgba(230,26,26,.6) 20%,rgba(204,51,51,.4) 30%,rgba(166,89,89,.2) 40%,hsla(0,0%,50%,0) 50%),
        radial-gradient(circle at 85.35533905932738% 14.644660940672622%,#ffbf00,rgba(242,185,13,.8) 10%,rgba(230,179,26,.6) 20%,rgba(204,166,51,.4) 30%,rgba(166,147,89,.2) 40%,hsla(45,0%,50%,0) 50%),
        radial-gradient(circle at 100% 50%,#80ff00,rgba(128,242,13,.8) 10%,rgba(128,230,26,.6) 20%,rgba(128,204,51,.4) 30%,rgba(128,166,89,.2) 40%,hsla(90,0%,50%,0) 50%),
        radial-gradient(circle at 85.35533905932738% 85.35533905932738%,#00ff40,rgba(13,242,70,.8) 10%,rgba(26,230,77,.6) 20%,rgba(51,204,89,.4) 30%,rgba(89,166,108,.2) 40%,hsla(135,0%,50%,0) 50%),
        radial-gradient(circle at 50.00000000000001% 100%,#0ff,rgba(13,242,242,.8) 10%,rgba(26,230,230,.6) 20%,rgba(51,204,204,.4) 30%,rgba(89,166,166,.2) 40%,hsla(180,0%,50%,0) 50%),
        radial-gradient(circle at 14.64466094067263% 85.35533905932738%,#0040ff,rgba(13,70,242,.8) 10%,rgba(26,77,230,.6) 20%,rgba(51,89,204,.4) 30%,rgba(89,108,166,.2) 40%,hsla(225,0%,50%,0) 50%),
        radial-gradient(circle at 0 50.00000000000001%,#7f00ff,rgba(128,13,242,.8) 10%,rgba(128,26,230,.6) 20%,rgba(128,51,204,.4) 30%,rgba(128,89,166,.2) 40%,hsla(270,0%,50%,0) 50%),
        radial-gradient(circle at 14.644660940672615% 14.64466094067263%,#ff00bf,rgba(242,13,185,.8) 10%,rgba(230,26,179,.6) 20%,rgba(204,51,166,.4) 30%,rgba(166,89,147,.2) 40%,hsla(315,0%,50%,0) 50%);
    }

    .handle {
        @apply bg-white h-3 w-3 absolute shadow rounded-full cursor-pointer;
        /*border-radius: 100%;*/
        /*position: absolute;*/
        transform: translate(-50%, -50%);
        /*border: 2px solid #fff;
        height: 0.5rem;
        width: 0.5rem;*/
    }
</style>