<template>
   <div class="modal-wrapper" v-show="show">
      <!-- <div class="modal-dialog"  v-click-outside="$emit('update:show', false)"> -->
      <div class="modal-dialog">
         <div class="modal-header">
            <slot name="header">
               <div>{{title}}</div>
               <i class="bi bi-x" v-on:click="$emit('update:show', false)"></i>
            </slot>
         </div>
         <div class="modal-body">
            <slot name="body" />
         </div>
         <div class="modal-footer" v-if="$slots.footer">
            <slot name="footer" />
         </div>
      </div>
   </div>
</template>

<script>
import baseProp from '../baseProp'

export default {
   props: {
      title: baseProp.String(true),
      show: baseProp.Boolean(true, false)
   },
   emits: ['update:show']
}
</script>
