@charset "UTF-8";
.form-control-group {
  @apply inline-block w-60;
}
.form-control-group:not(.inline-label) > label {
  @apply text-xs mb-1 italic block;
}
.form-control-group:not(.inline-label) > .form-control {
  width: 100%;
}
.form-control-group.inline-label {
  @apply grid grid-cols-3 items-center;
}
.form-control-group.inline-label > label {
  @apply col-span-1 text-sm h-fit;
}
.form-control-group.inline-label > .form-control {
  @apply col-span-2;
}
.form-control-group.inline-icon > .form-control {
  padding-right: 1.75rem;
}
.form-control-group.inline-icon > .form-control ~ .from-control-icon {
  @apply text-blueGray-400 text-sm;
  margin-left: -1.5rem;
  width: 1rem;
}

.form-control-group.input-error > .form-control,
.form-control.input-error {
  @apply border-1 border-danger text-danger;
  background: #fdf5f5;
}
.form-control-group.input-error > .form-control ~ .from-control-icon,
.form-control.input-error ~ .from-control-icon {
  @apply text-danger;
}

.form-control {
  @apply bg-blueGray-50 border-blueGray-200 border-1 rounded-md px-2 py-1 text-sm;
  outline: none;
}
.form-control:focus {
  @apply border-blueGray-300;
}

.btn {
  @apply bg-gray-200 px-3 py-2 text-sm rounded-md;
  outline: none !important;
  cursor: pointer;
}
.btn:hover {
  filter: brightness(1.02);
}
.btn:active {
  filter: brightness(0.19);
}
.btn.btn-sm {
  @apply text-xs;
}
.btn.btn-primary {
  @apply bg-primary text-white;
}
.btn.btn-link {
  @apply bg-transparent text-coolGray-500 hover:text-blueGray-400 focus:text-blueGray-600;
}
.btn.btn-link:hover {
  filter: none;
}
.btn > i {
  margin: 0;
}
.btn > i ~ span {
  @apply ml-1;
}

.form-control-checkbox label {
  @apply flex items-center;
}
.form-control-checkbox label > input[type=checkbox] {
  display: none;
}
.form-control-checkbox label > input[type=checkbox] ~ span {
  @apply rounded-sm;
  cursor: pointer;
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  position: relative;
  text-align: center;
  padding: 7px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.form-control-checkbox label > input[type=checkbox] ~ span:hover {
  filter: brightness(1.1);
}
.form-control-checkbox label > input[type=checkbox] ~ span:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
  font-size: 8px;
}
.form-control-checkbox label > input[type=checkbox]:not(:checked) ~ span {
  @apply border-1 border-coolGray-400;
  padding: 6px;
}
.form-control-checkbox label > input[type=checkbox]:checked ~ span {
  @apply bg-primary rounded-sm;
}
.form-control-checkbox label > input[type=checkbox]:checked ~ span:after {
  content: "";
}
.form-control-checkbox label > input[type=checkbox][indecisive] ~ span {
  @apply bg-primary rounded-sm;
}
.form-control-checkbox label > input[type=checkbox][indecisive] ~ span:after {
  content: "";
}
.form-control-checkbox label > input[type=checkbox] ~ label {
  @apply text-xs ml-1;
}