<template>
   <div class="shadow-xs rouned bg-white px-3 py-2">
      <h5>{val.Name}}</h5>
      <input-switch v-model="val.Brightness" />
   </div>
</template>

<script>
export default {
   props: {
      value: {
         type: Object,
         required: true,
         validator: function(val) {
               return (
                  val.Name !== undefined &&
                  (val.PowerState === true || val.PowerState === false) &&
                  0 <= val.Brightness  && val.Brightness <= 100
               )
         }
      }
   },
   methods: {
      
   }
}
</script>
