﻿<template>
    <div>
        <table class="w-full">
            <thead>
                <tr>
                    <th class="align-middle" style="width: 2rem" v-if="Options.Select || Options.FilterSelect">
                        <div v-if="!Options.Filter || Options.FilterSelect">
                            <input type="checkbox" class="form-control-checkbox" v-model="ChkSelectAll" />
                        </div>
                    </th>
                    <th v-for="item in columnOrder" :key="'header-' + item.ColumnId"
                        class="text-left text-sm align-middle"
                        :class="[item.HeaderClass, item.Class]">
                        <span v-on:click="orderBy(item)" class="cursor-pointer select-none">
                            <a class="text-blueGray-500 text-opacity-80" target="_self">{{item.HeaderText}}</a>
                            <svg v-if="item.ColumnId == modelValue.Filter.OrderBy" viewBox="0 0 18 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="inline h-3 ml-1">
                                <path d="M16.737 7.72272L9.76435 0.750061C9.21357 0.19928 8.32294 0.19928 7.77802 0.750061L0.799503 7.72272C-0.0852628 8.60748 0.54169 10.1251 1.7956 10.1251H15.7409C16.9948 10.1251 17.6218 8.60748 16.737 7.72272Z"
                                      fill="currentColor" class="text-blueGray-400" :class="{'text-opacity-50': modelValue.Filter.OrderByDesc === true }" />
                                <path d="M1.7956 13.8751H15.7409C16.9948 13.8751 17.6218 15.3926 16.737 16.2774L9.76435 23.2501C9.21357 23.8008 8.32294 23.8008 7.77802 23.2501L0.799503 16.2774C-0.0852628 15.3926 0.54169 13.8751 1.7956 13.8751Z"
                                      fill="currentColor" class="text-blueGray-400" :class="{'text-opacity-50': modelValue.Filter.OrderByDesc !== true}" />
                            </svg>
                        </span>
                    </th>
                </tr>
                <tr v-if="Options.Filter">
                    <th class="align-middle" style="width: 2rem" v-if="Options.Select && !Options.FilterSelect ">
                        <div>
                            <input type="checkbox" class="form-control-checkbox" v-model="ChkSelectAll" />
                        </div>
                    </th>
                    <th v-for="item in columnOrder" :key="'filter-' + item.ColumnId"
                        class="text-left text-sm align-middle"
                        :class="[item.FitlerClass, item.Class]">
                        
                        <template v-if="item.Type == 'text' || item.FilterType == 'Text' || (item.Type == undefined && item.FilterType == undefined)">
                            <input type="text" class="form-control" v-model="Filter[item.FilterName || item.ColumnName]" />
                        </template>
                        <template v-else-if="item.Type == 'date' || item.FilterType == 'date'">
                            <input type="date" class="form-control" />
                        </template>
                        <template v-else-if="item.Type == 'shortdate' || item.FilterType == 'shortdate'">
                            <input type="date" class="form-control" />
                        </template>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-if="modelValue.List.length == 0 && !modelValue.IsLoading">
                    <td :colspan="columnOrder.length + (Options.Select || Options.FilterSelect ? 1 : 0)"
                        class="text-center">
                        <h3 class="mt-2 text-blueGray-600">No Items Were found</h3>
                        <p class="text-sm text-blueGray-400">You can create items with the "New" button</p>
                    </td>
                </tr>
                <tr v-for="(row, rIndex) in modelValue.List" :key="'row-' + rIndex">
                    <td v-for="(col, cIndex) in columnOrder" :key="'cell-' + rIndex + '-' + cIndex">
                        <template v-if="item.Type == 'date' || item.FilterType == 'date'">
                            {{$date(row[col.ColumnName]).format('DD MMMM YYYY')}}
                        </template>
                        <template v-else-if="item.Type == 'shortdate' || item.FilterType == 'shortdate'">
                            {{$date(row[col.ColumnName]).format('DD.MM.YYYY')}}
                        </template>
                        <template v-else>
                            {{row[col.ColumnName]}}
                        </template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    var filterTimeout = null;

    /// ***** Options ***** ///
    var defaultOptions = {
        Select: true,
        FilterSelect: false,
        Filter: true,
    }

    export default {
        props: {
            tableId: {
                type: [String, Number],
                required: true,
                validator: val => val > 0
            },
            modelValue: {
                type: Object,
                required: true,
            },
            timeout: {
                type: [String, Number],
                validator: val => val > 0
            }
        },
        emits: ['update:modelValue', 'filter-change', 'filter-input', 'select-change', 'select-input'],
        data: function() {
            return {
                columnOrder: {}
            }  
        },

        methods: {
            getColumnOrder: function () {
                //var tableColumns = tableColumnService.Automation

                return this.$dataService.User().TablePreference(this.tableId).GetById()
                    .then(data => {
                        this.columnOrder = data;
                    })
            },
            orderBy: function (item) {
                var value = JSON.parse(JSON.stringify(this.modelValue));

                if (value.Filter.OrderBy == item.ColumnId)
                    value.Filter.OrderByDesc = !value.Filter.OrderByDesc;
                else {
                    value.Filter.OrderByDesc = false;
                    value.Filter.OrderBy = item.ColumnId;
                }

                this.$emit('update:modelValue', value);
                this.$emit('filter-input', value.Filter);

                clearTimeout(filterTimeout);
                filterTimeout = setTimeout(this.$emit, this.timeout, 'filter-change', value.Filter);
            }
        },
        computed: {
            ChkSelectAll: {
                get: function () {
                    return this.modelValue.List.every(x => x.isSelected);
                },
                set: function (isSelected) {
                    var value = JSON.parse(JSON.stringify(this.modelValue));
                    value.List = value.List.map(x => {
                        x.isSelected = isSelected;
                        return x;
                    });

                    this.$emit('update:modelValue', value);
                    this.$emit('select-input', value.List);

                    clearTimeout(filterTimeout);
                    filterTimeout = setTimeout(this.$emit, this.timeout, 'select-change', value.List);
                }
            },

            Options: function () {
                return { ...defaultOptions, ...this.modelValue.Options }
            },

            Filter: function () {
                console.log(123)
                return this.modelValue.Filter
            }
        },
        watch: {
            'Filter': function () {
                this.$emit('filter-input', this.modelValue.Filter);

                clearTimeout(filterTimeout);
                filterTimeout = setTimeout(this.$emit, this.timeout, 'filter-change', this.modelValue.Filter);
            }
        },
        updated: function () {
       
        },
        mounted: function () {
            this.getColumnOrder();

        }
    }
</script>
