<template>
    <div class="form-control-group inline-icon" :class="{'inline-label': IsInline}">
        <label v-if="!!label">{{label}}</label>
        <input :type="showPassword ? 'text':'password'" key="input"
               class="form-control form-control-sm" 
               :placeholder="placeholder"
               :disabled="disabled"
               :required="required"
               :value="value"
               @input="$emit('input', $event.target.value)"/>

        <i class="from-control-icon fas" 
           :class="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"
           @click="showPassword = !showPassword" ></i>
    </div>
</template>

<script>

    import prop from '../baseProp';

    export default {
        props: {
            value: prop.String(true),

            disabled: prop.Boolean(false, false),
            required: prop.Boolean(false, false),
            placeholder: prop.String(false),
            label: prop.String(false),
            inline: prop.Boolean(false, false),
        },
        data() {
            return {
                showPassword: false
            }
        },
        computed: {
            IsInline: function () {
                return this.inline === undefined || this.inline.toString() === "true";
            }
        }
    }

</script>
