<template>
    <div class="form-control-checkbox">
        <label>
            <input type="checkbox" 
                   :placeholder="placeholder"
                   :disabled="disabled"
                   :value="modelValue"
                   @input="$emit('update:modelValue', $event.target.value)"/>
            <span></span>
            <label><slot>{{label}}</slot></label>
        </label>
    </div>
</template>

<script>
    import prop from '../baseProp';


    export default {
        props: {
            disabled: prop.Boolean(false, false),
            modelValue: prop.Boolean(true),
            placeholder: prop.String(false),
            label: prop.String(false),
        },
        emits: {
            'update:modelValue': null
        },
    }

</script>
