<template>
    <DataPresetEditorCore 
        :plugins="Plugins"    
        >

    </DataPresetEditorCore>
</template>

<script>
    import DataPresetEditorCore from './DataPresetEditorCore'

    export default {
        components: {
            DataPresetEditorCore
        },
        props: {
            modelValue: {
                type: String,
                required: true
            }
        },
        emits: ['update:modelValue'],
        computed: {
            Plugins: function () {
                return {
                    autocomplete: {
                        "select": function (event) {
                            console.log(event)
                        },
                        keydown: function (event) {
                            var validKeys = { "{": "}", "[": "]", "<": ">" }

                            if (validKeys[event.key]) {
                                var pos = this.GetPosition(); // +1 because we are in the keydown and the key has not been added yet

                                this.Insert(pos, validKeys[event.key]);
                                this.SetPosition(pos);
                            }
                        }
                    }
                }
            }
        }
    }
</script>