<template>
    <div contenteditable="true" class="data-preset-editor" placeholder="placeholder" v-on="Events" ref="_presetEditor">
    </div>
</template>
<script>
    export default {
        props: {
            modelValue: {
                type: String,
                required: false
            },
            plugins: {
                type: Object,
            },

            placeholder: {
                type: String
            }
        },
        emits: ['update:modelValue'],
        methods: {
            onKeydown: function () {
                //console.log(e)
            },

            getPosition: function () {
                let _range = document.getSelection().getRangeAt(0)
                let range = _range.cloneRange()
                range.selectNodeContents(this.$refs._presetEditor)
                range.setEnd(_range.endContainer, _range.endOffset)
                console.log(range.toString())

                return range.toString().length
            },
            setPosition: function (position) {
                var selection = window.getSelection();

                let range = this._createRange(this.$refs._presetEditor, { count: position });

                if (range) {
                    range.collapse(false);
                    selection.removeAllRanges();
                    selection.addRange(range);
                }
            },

            insert: function (position = 0, value = "") {
                this.setPosition(position);
                document.execCommand("InsertHTML", false, value)
            },
            remove: function (fromPosition = 0, toPosition = 0) {
                console.log(fromPosition, toPosition);
            },

            // If parameters are not set will the method return the current range and its content
            // else if parameters are set will the method return the selected range and its content
            getRange: function (fromPosition = 0, toPosition = 0) {
                console.log(fromPosition, toPosition);
            },
            setRage: function (fromPosition = 0, toPosition = 0) {
                console.log(fromPosition, toPosition);
            },

            // PRIVATE
            // PRIVATE
            _createRange(node, chars, range) {
                if (!range) {
                    range = document.createRange()
                    range.selectNode(node);
                    range.setStart(node, 0);
                }

                if (chars.count === 0) {
                    range.setEnd(node, chars.count);
                } else if (node && chars.count > 0) {
                    if (node.nodeType === Node.TEXT_NODE) {
                        if (node.textContent.length < chars.count) {
                            chars.count -= node.textContent.length;
                        } else {
                            range.setEnd(node, chars.count);
                            chars.count = 0;
                        }
                    } else {
                        for (var lp = 0; lp < node.childNodes.length; lp++) {
                            range = this._createRange(node.childNodes[lp], chars, range);

                            if (chars.count === 0) {
                                break;
                            }
                        }
                    }
                }

                return range;
            },
        },
        computed: {
            Events: function () {
                var validEvents = ["keydown", "select"]

                var defaultInputs = {
                    keydown: this.onKeydown,
                    select: console.log
                };

                // Merge the default inputs with the plugin inputs
                var plugins = this.plugins
                var items = validEvents.reduce((obj, event) => {
                    var _plugins = Object.keys(plugins).map(plugin => plugins[plugin][event]);
                    obj[event] = [].concat(defaultInputs[event], _plugins);
                    return obj;
                }, {})

                // convert the merged object array to object methods
                var ctx = {
                    GetPosition: this.getPosition,
                    SetPosition: this.setPosition,
                    Insert: this.insert,
                    Remove: this.remove,
                    GetRange: this.getRange,
                    SetRage: this.setRage,
                    Target: this.$refs._presetEditor
                }

                return Object.keys(items).reduce((obj, event) => {
                    obj[event] = (ev) => items[event].filter(x => x).forEach(x => x.bind(ctx)(ev))
                    return obj;
                }, {})
            },
        }
        
    }
</script>