<template>
    <div ref="editor"></div>
</template>

<script>
    import { EditorCore } from './EditorCore'

    export default {
        props: {
            modelValue: {
                type: String,
                required: true
            }
        },
        emits: ['update:modelValue'],
        computed: {
            //Plugins: function () {
            //    return {
            //        autocomplete: {
            //            "select": function (event) {
            //                console.log(event)
            //            },
            //            keydown: function (event) {
            //                var validKeys = { "{": "}", "[": "]", "<": ">" }

            //                if (validKeys[event.key]) {
            //                    var pos = this.GetPosition(); // +1 because we are in the keydown and the key has not been added yet

            //                    this.Insert(pos, validKeys[event.key]);
            //                    this.SetPosition(pos);
            //                }
            //            }
            //        }
            //    }
            //}
        },
        mounted: function () {
            var editor = new EditorCore(this.$refs.editor, {
                Language: "JSON"
            });

            //(?<Token_Number>[\w\d]*:\s*\d+\s*,?(?=[\]\}])?(?!\s*\{))
            //(?<Token_String>[\w\d]*:\s['"].*?['"]\s*,?(?=[\]\}])?(?!\s*\{))
            //(?<Token_Object>[\w\d]*:\s*{(?=[\]\}])?(?!\s*\{)||\}\,?)
            //(?<Token_Array>[\w\d]*:\s*\[[\s\d\e\w\'\"\,]*?\](?!\s*\{))
            //(?<Token_ObjectArray>[\w\d]*:\s*\[\s*\{||\}\s*\])

            editor.Parse(JSON.stringify({ Color: { Red: 100, Green: 150, Blue: 225 }, Effect: 1 }))
        },
    }
</script>