.table-relative {
  overflow: auto;
  position: relative;
}

.table {
  width: 100%;
}
.table.sticky-header th {
  position: sticky;
  top: 0;
}
.table thead > tr:last-child th {
  box-shadow: 2px 1px 3px 0px #4d4d4d2b;
}
.table thead > tr > th {
  @apply text-blueGray-500 bg-white;
  text-align: left;
  font-weight: 600;
}
.table tbody > tr:not(:first-child) {
  @apply border-t-1 border-coolGray-150;
}
.table tbody > tr > td {
  @apply p-1;
}