.modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.modal-wrapper:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: rgba(51, 51, 51, 0.1);
  z-index: 998;
}
.modal-wrapper .modal-dialog {
  @apply bg-white;
  z-index: 999;
  width: 40rem;
}
.modal-wrapper .modal-dialog > .modal-header {
  @apply py-2 px-3 border-b-1 border-coolGray-200;
  display: flex;
  justify-content: space-between;
}
.modal-wrapper .modal-dialog > .modal-body {
  @apply py-2 px-3;
}
.modal-wrapper .modal-dialog > .modal-footer {
  @apply py-2 px-3 border-t-1 border-coolGray-200;
}