<template>
   <div class="modal-wrapper" v-show="show">
      <!-- <div class="modal-dialog"  v-click-outside="$emit('update:show', false)"> -->
      <div class="modal-dialog w-full mx-6" :class="SizeClass">
         <div class="modal-header">
            <slot name="header">
               <div>{{title}}</div>
               <i class="bi bi-x" v-on:click="$emit('update:show', false)"></i>
            </slot>
         </div>
         <div class="modal-body">
            <slot name="body" />
         </div>
         <div class="modal-footer" v-if="$slots.footer">
            <slot name="footer" />
         </div>
      </div>
   </div>
</template>

<script>
    import baseProp from '../baseProp'

    export default {
        props: {
            title: baseProp.String(true),
            show: baseProp.Boolean(true, false),
            size: {
                type: String,
                required: false,
                validator: val => ["xs", "sm", "md", "lg", "xl", "full"].indexOf(val) > -1,
                default: "md"
            }
        },
        emits: ['update:show'],
        computed: {
            SizeClass: function () {
                if (["xs", "x-small"].indexOf(this.size) > -1) return "max-w-sm";
                if (["sm", "small"].indexOf(this.size) > -1) return "max-w-sm";
                if (["md", "medium"].indexOf(this.size) > -1) return "max-w-2xl";
                if (["lg", "large"].indexOf(this.size) > -1) return "max-w-4xl";
                if (["xl", "x-large"].indexOf(this.size) > -1) return "max-w-5xl";
                else return "";
            }
        }
    }
</script>
