<template>
    <div class="shadow rounded-lg bg-white w-1/5 overflow-hidden">
        <div class="px-3 py-2">
            <div class="flex justify-between">
                <h5>{{value.Name}}</h5>
                <div>
                    <input type="checkbox" class="form-control-checkbox" />
                </div>
            </div>
            <div class="text-sm text-coolGray-400">Solid Color</div>
        </div>
        
        <div class="h-4 bg-gray-100"></div>
    </div>
</template>

<script>
export default {
   props: {
      value: {
         type: Object,
         required: true,
         //validator: function(val) {
         //      return (
         //         val.Name !== undefined &&
         //         (val.PowerState === true || val.PowerState === false) &&
         //         0 <= val.Brightness  && val.Brightness <= 100
         //      )
         //}
      }
   },
   methods: {
      
   }
}
</script>
