<template>
    <!-- Overview -->
    <!-- Overview -->
    <div class="w-full h-4/12 bg-blueGray-100 shadow-default rounded-md">
    </div>
    
    <!-- Most used Devices -->
    <!-- Most used Devices -->
    <div class="mt-2">
        <device-card v-for="device in device.List" :key="device.DeviceId" :value="device" />
    </div>
</template>

<script>
import deviceCard from '../components/Device/DeviceCard'

export default {
    components: {
        deviceCard
    },
    data: function() {
        return {
            device: {
                List: [],
                Filter: {}
            }
        }
    },
    methods: {
        fetchDevices: function(){
            return this.$dataService.Device.GetLookup()
                .then(data => this.device.List = data)
        }
    },
    computed: {

    },
    mounted: function() {

        this.fetchDevices();

    }
}

</script>
