.datepicker-time-only {
    .vc-time-content {
        > .vc-time-date{
            display: none
        }
    }
}


.disabled-badge {
    @apply border flex h-7 items-center justify-center rounded text-center w-7 flex-shrink-0 bg-coolGray-100 border-coolGray-200 text-coolGray-400;
    z-index: 1;
}

.trigger-badge {
    @apply bg-warning-lighter border border-warning-light flex h-7 items-center justify-center rounded text-opacity-80 text-warning w-7 flex-shrink-0;
    z-index: 1;
}

.action-badge {
    @apply bg-success-lighter border border-success-light flex h-7 items-center justify-center rounded text-opacity-80 text-success w-7 flex-shrink-0;
    z-index: 1;
}

.condition-badge {
    @apply bg-indigo-200 border border-indigo-300 flex h-7 items-center justify-center rounded text-opacity-80 text-indigo-600 w-7 flex-shrink-0;
    z-index: 1;
}


.automation-flow-preview {
    @apply py-3 rounded border border-transparent;
    position: relative;
    margin-top: -2px;
    margin-bottom: -2px;

    &:last-child {
        &:before {
            height: calc(100% - 2rem);
        }
    }

    &:before {
        @apply bg-coolGray-400 bg-opacity-30 left-3.5 ml-3;
        content: "";
        display: block;
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 0;
    }

    > div:hover {
        @apply bg-coolGray-300 bg-opacity-10 border-coolGray-400 border-opacity-20;
    }

    &.active {
        @apply bg-coolGray-300 bg-opacity-10 border-coolGray-400 border-opacity-20;
    }

    > button {
        @apply ml-12 mt-2;
        position: relative;

        &:before {
            @apply border border-coolGray-400 border-opacity-50 bg-white;
            content: "";
            display: block;
            width: 0.75rem;
            height: 0.75rem;
            position: absolute;
            left: calc(-2.25rem / 2 - .75rem/2 - 3px);
            border-radius: 2rem;
        }
    }
}

/* DataPresetEditor */
/* DataPresetEditor */

.data-preset-editor {
    @apply outline-none text-blueGray-500 border rounded px-2 py-1 bg-coolGray-50;
    min-height: 10rem;


    &:empty[placeholder]:before {
        @apply text-opacity-60;
        content: attr(placeholder)
    }
}

.editor {
    @apply outline-none text-blueGray-500 border rounded px-2 py-1 bg-coolGray-50;
    min-height: 10rem;


    &:empty[placeholder]:before {
        @apply text-opacity-60;
        content: attr(placeholder)
    }
}