<template>
  <div>
    <div class="flex items-center">
      <slot name="title-icon">
        <div class="bg-opacity-25 bg-warning border border-opacity-20 border-warning flex h-7 items-center justify-center rounded text-center text-opacity-80 text-warning w-7 flex-shrink-0 ">
          <i :class="title-icon"></i>
        </div>
      </slot>
      <div class="flex group cursor-pointer" @click="cancel">
        <h1 class="ml-2">{{title}}</h1>
        <i class="bi bi-pen-fill hidden group-hover:flex border ml-1.5 h-4 w-4 items-center justify-center rounded bg-coolGray-400 bg-opacity-10 border-opacity-30 border-coolGray-400 text-coolGray-400" style="font-size: .6rem"></i>
      </div>
    </div>

    <p>{{description}}</p>

    <hr class="my-3" />

    <!-- SELECT THE TRIGGER TYPE -->
    <div class="grid grid-cols-2 gap-3 ">
      <ItemCard v-for="item in itemTypes"
                :type="item.AutomationType"
                :key="item.Type"
                :name="item.Name"
                :description="item.Description"
                :disabled="item.Disabled"
                :icon-class="item.IconClass"
                :value="item.Type"
                @selected="typeSelected" />
    </div>
  </div>
</template>

<script>
    import ItemCard from './AutomationItemCard';

    export default {
        components: {
            ItemCard
        },
        props: {
            modelValue: {
                type: Object,
                required: true,
            },
            itemTypes: {
                type: Array,
                required: true
            },
            title: {
                type: String,
                required: true,
            },
            description: {
                type: String,
                required: true,
            },
            titleIcon: {
                type: String,
                required: false,
            },
        },
        emits: ['update:modelValue'],
        methods: {
            typeSelected: function (type) {
                var value = JSON.parse(JSON.stringify(this.modelValue)) || {};
                value.Type = type;

                this.$emit('update:modelValue', value);
            },
            cancel: function () {
                var value = JSON.parse(JSON.stringify(this.modelValue)) || {};
                value.AutomationType = null;

                this.$emit('update:modelValue', value);
            }
        },
    }
</script>
