<template>
  <div>

    <div class="flex items-center">
      <div class="trigger-badge">
        <i class="bi bi-lightning-charge-fill"></i>
      </div>
      <h1 class="ml-2">New Trigger</h1>
    </div>

    <p>Triggers are the entry point for the automation. They can listen for events or be scheduled to run.</p>
    <hr class="my-3" />
    <div class="grid grid-cols-2 gap-3 ">

      <ItemCard v-for="item in triggerTypes"
                :type="item.AutomationType"
                :key="item.Type"
                :name="item.Name"
                :description="item.Description"
                :icon-class="item.IconClass" />
    </div>
  </div>
</template>

<script>
    import ItemCard from './AutomationItemCard';


    export default {
        components: {
            ItemCard
        },
        props: {

        },
        data() {
            return {
                triggerTypes: [
                    { Type: 1, Name: "Scheduled", IconClass: "bi bi-alarm", Description: "Fire an event based on a predefined schedule" },
                    { Type: 2, Name: "Device State", IconClass: "bi bi-cpu", Description: "Perform an automation whenever a device state changes" },
                    { Type: 3, Name: "Device Timeout", IconClass: "bi bi-pause-fill", Description: "If the a spesific or any device failes to respond to a request" },
                    { Type: 4, Name: "Device Callback Success", IconClass: "bi bi-hand-thumbs-up", Description: "The device responded successfully to a request" },
                    { Type: 5, Name: "Device Callback Failiour", IconClass: "bi bi-hand-thumbs-down", Description: "The device responded with a failiour to a request" },
                    //{ Type: 6, Name: "Device Callback Empty", Description: "" },
                ]
            }
        },
        methods: {

        }
    }
</script>
