<template>
  <div>

    <div class="flex items-center">
      <slot name="title-icon">
        <div class="bg-opacity-25 bg-warning border border-opacity-20 border-warning flex h-7 items-center justify-center rounded text-center text-opacity-80 text-warning w-7 flex-shrink-0 ">
          <i :class="title-icon"></i>
        </div>
      </slot>
      <div class="flex group cursor-pointer" @click="$emit('cancel')">
        <h1 class="ml-2">{{title}}</h1>
        <i class="bi bi-pen-fill hidden group-hover:flex border ml-1.5 h-4 w-4 items-center justify-center rounded bg-coolGray-400 bg-opacity-10 border-opacity-30 border-coolGray-400 text-coolGray-400" style="font-size: .6rem"></i>
      </div>
    </div>
    <p>{{description}}</p>
    <hr class="my-3" />
    <div v-on-submit="save">
      <div class="form-control-group mt-3" v-for="input in inputs" :key="input.Name">

        <label>{{input.Name}}</label>
        <DatePicker v-if="input.Type == 'timepicker'"
                    mode="time"
                    class="datepicker-time-only block"
                    v-model="data[input.Name]"
                    :model-config="{ type: 'string', mask: 'HH:mm' }"
                    is24hr>
        </DatePicker>

        <div v-else-if="input.Type == 'dayofweek'"
             class="grid grid-flow-col w-fit gap-2.5 border rounded px-3 py-2 border-blueGray-300 items-center">
          <i class="bi bi-calendar-week text-blueGray-400 mr-1"></i>
          <div v-for="(day, index) in WeekDays" :key="'dayPicker-' + index"
               class="w-8 h-8 rounded-full flex items-center justify-center border text-xs cursor-pointer select-none outline-none focus:ring-2 focus:ring-indigo-200"
               :class="dayOfWeekClass(data[input.Name].indexOf(index) > -1)"
               @click="dayOfWeekToggle(data[input.Name], index)"
               @keydown.enter="dayOfWeekToggle(data[input.Name], index)"
               tabindex="0">{{day}}</div>
        </div>

        <div v-else-if="input.Type == 'datapreset'">
          <!--<DataPresetEditor v-model="data[input.Name]"/>-->
          <MonacoEditor class="editor" v-model="data[input.Name]" language="javascript" />
        </div>

      </div>
      <div class="text-right">
        <button type="button" class="btn btn-sm btn-link" @click="$emit('cancel')">Cancel</button>
        <button type="submit" class="btn btn-sm btn-primary">Save</button>
      </div>
    </div>

  </div>
</template>

<script>
    import MonacoEditor from 'vue-monaco';

    export default {
        components: {
            MonacoEditor
        },
        props: {
            modelValue: {
                type: Object,
                required: true,
            },
            inputs: {
                type: Array,
                required: true,
            },

            title: {
                type: String,
                required: true,
            },
            description: {
                type: String,
                required: true,
            },
            titleIcon: {
                type: String,
                required: false,
            },

        },
        emits: ['update:modelValue', 'cancel', 'save'],
        data: function() {
            var data = this.inputs.reduce(function (obj, item) {
                obj[item.Name] = item.DefaultValue;
                return obj;
            }, {})

            return {
                data: data,
            }
        },
        methods: {
            save: function () {
                this.$emit('update:modelValue', this.data);
                this.$emit('save', this.data);
            },

            dayOfWeekClass: function (selected) {
                var baseClass = "hover:bg-blueGray-400 hover:bg-opacity-20 hover:border-blueGray-400 hover:border-opacity-20";

                if (!selected) return baseClass + " border-transparent";
                else return baseClass + " bg-blueGray-400 bg-opacity-10 border-blueGray-400 border-opacity-20"
            },
            dayOfWeekToggle: function (arr, index) {
                if (arr.indexOf(index) > -1) arr.splice(index, 1);
                else arr.push(index);
            },
        },
        computed: {
            WeekDays: function () {
                //return ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
                return ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
            },
        },
    }
</script>
