<template>
    <div class="flex p-3 rounded cursor-pointer outline-none select-none items-center"
         :class="TypeClass.card"
         @keyup.enter="select"
         @click="select"
         :tabindex="disabled ? -1 : 1">
        <div class="border flex h-7 items-center justify-center rounded text-center w-7 flex-shrink-0" :class="TypeClass.icon">
            <slot name="iconClass">
                <i :class="iconClass"></i>
            </slot>
        </div>
        <div class="ml-2">
            <h5>{{name}}</h5>
            <p>{{description}}</p>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            name: {
                type: String,
                required: true,
            },
            description: {
                type: String,
                required: true,
            },
            iconClass: {
                type: String,
            },
            disabled: {
                type: [String, Boolean],
                default: false,
                validator: val => ['true', 'false'].indexOf(val.toString()) > -1
            },
            type: {
                //type: String,
                //required: true,
                //validator: val => ['trigger', 'condition', 'action'].indexOf(val.toLowerCase()) > -1,
                type: Number,
                required: true,
                validator: val => 0 < val && val < 4
            },
            value: {
                type: Number,
                required: true
            }
        },
        emits: ['selected'],
        methods: {
            select: function () {
                if (this.disabled) return;
                this.$emit('selected', this.value);
            }
        },
        computed: {
            TypeClass: function () {
                var cardBase = "hover:bg-opacity-5 focus:bg-opacity-10 border border-transparent hover:border-opacity-30 focus:border-opacity-20 ";

                //var t = this.type.toLowerCase();
                //if (this.disabled.toString() == 'true')
                //    return {
                //        card: "bg-coolGray-400 border bg-opacity-10 border-coolGray-400 border-opacity-20 ",
                //        icon: "disabled-badge"
                //    }
                //else if (t == "trigger")
                //    return {
                //        card: cardBase + " hover:bg-warning focus:bg-warning hover:border-warning focus:border-warning",
                //        icon: "trigger-badge"
                //    }
                //else if (t == "condition")
                //    return {
                //        card: cardBase + " hover:bg-coolGray-200 focus:bg-coolGray-200 hover:border-coolGray-200 focus:border-coolGray-200",
                //        icon: "condition-badge"
                //    }
                //else
                //    return {
                //        card: cardBase + " hover:bg-success focus:bg-success hover:border-success focus:border-success",
                //        icon: "action-badge"
                //    }
                if (this.disabled.toString() == 'true')
                    return {
                        card: "bg-coolGray-400 border bg-opacity-10 border-coolGray-400 border-opacity-20 ",
                        icon: "disabled-badge"
                    }
                else if (this.type == 1) // Trigger
                    return {
                        card: cardBase + " hover:bg-warning focus:bg-warning hover:border-warning focus:border-warning",
                        icon: "trigger-badge"
                    }
                else if (this.type == 2) // Condition
                    return {
                        card: cardBase + " hover:bg-indigo-600 focus:bg-indigo-600 hover:border-indigo-400 focus:border-indigo-400",
                        icon: "condition-badge"
                    }
                else
                    return {
                        card: cardBase + " hover:bg-success focus:bg-success hover:border-success focus:border-success",
                        icon: "action-badge"
                    }
            }
        }
    }
</script>
