<template>

    <div class="flex items-center">
        <h1>{{title}}</h1>
    </div>

    <p>{{description}}</p>

    <hr class="my-3" />

    <!-- SELECT THE TRIGGER TYPE -->
    <div class="grid grid-cols-2 gap-3 ">
        <ItemCard v-for="type in automationTypes"
            :type="type.AutomationType"
            :key="type.AutomationType"
            :name="type.Name"
            :description="type.Description"
            :disabled="type.Disabled"
            :icon-class="type.IconClass"
            :value="type.AutomationType"
            @selected="typeSelected" />
    </div>
</template>

<script>
    import ItemCard from './AutomationItemCard';

    export default {
        components: {
            ItemCard
        },
        props: {
            modelValue: {
                type: Object,
                required: true,
            },
            automationTypes: {
                type: Array,
                required: true
            },
            title: {
                type: String,
                required: true,
            },
            description: {
                type: String,
                required: true,
            },
        
        },
        emits: ['update:modelValue'],
        methods: {
            typeSelected: function (automationType) {
                var value = JSON.parse(JSON.stringify(this.modelValue)) || {};
                var item = this.automationTypes.find(x => x.AutomationType == automationType);

                value.AutomationType = automationType;
                value.IconClass = item.IconClass;
                value.Description = item.Description;
                value.Name = item.Name;


                this.$emit('update:modelValue', value);
            },
        },

    }
</script>
