<template>
    <div v-for="(item, index) in modelValue" :key="index" class="automation-flow-preview">
        
        <div class="flex p-3 rounded cursor-pointer outline-none select-none group" @click="selectItem(index)">
            <div :class="automationTypeClass(item.AutomationType)">
                <i :class="item.IconClass"></i>
            </div>
            <div class="ml-2 flex-grow">
                <h6>{{item.Name}}</h6>
                <p>{{item.Description}}</p>
            </div>
            <div class="hidden group-hover:block">
                <button type="button" class="btn btn-link p-0" 
                        v-show="allowDelete(item, index)"
                        @click.stop="deleteItem(item, index)">
                    <i class="bi bi-x"></i>
                </button>
            </div>
        </div>

        <button type="button" class="btn btn-full" 
                v-show="allowAddComponent(item, index)"
                @click="addComponent(item, index)">
            <span>Add Component</span>
        </button>
    </div>

</template>

<script>
    export default {
        name: 'AutomationFlowPreview',
        props: {
            modelValue: {
                type: Array,
                required: true,
            }
        },
        emits: ['update:modelValue'],
        methods: {
            automationTypeClass: function (automationType) {
                if (automationType == 1) // Trigger
                    return "trigger-badge"
                else if (automationType == 2) // Condition
                    return "condition-badge"
                else if (automationType == 3) // Action
                    return "action-badge"
                else
                    return "disabled-badge"
            },
            selectItem: function (index) {
                var value = JSON.parse(JSON.stringify(this.modelValue));

                value.forEach(x => x.selected = false);
                value[index].selected = true;

                this.$emit('update:modelValue', value);
            },

            allowAddComponent: function (item, index) {
                return item.Type > 0 && (this.modelValue[index + 1] == undefined || this.modelValue[index + 1].Type > 0);
            },
            addComponent: function (item, index) {
                var value = JSON.parse(JSON.stringify(this.modelValue));

                value.forEach(x => x.selected = false);
                value.splice(index + 1, 0, {
                    selected: true,
                    AutomationType: null,
                    Name: "New Component",
                    Description: "Select a new condition or action.",
                    IconClass: "bi bi-plus-circle-dotted",
                });

                this.$emit('update:modelValue', value);
            },

            allowDelete: function (item, index) {
                return index > 0;
            },
            deleteItem: function (item, index) {
                if (!this.allowDelete(item, index)) return;

                var value = JSON.parse(JSON.stringify(this.modelValue));
                value.splice(index, 1);

                if (value.every(x => !x.selected))
                    value[value.length - 1].selected = true;

                this.$emit('update:modelValue', value);

            }
        },
        computed: {
        }
    }
</script>
