.tab-container {
    > .tab-container-options {
        @apply border-b-1 border-coolGray-200;

        > .tab-item {
            @apply inline-block p-2 pb-0;
            cursor: pointer;
            margin-bottom: 1px;

            &.active {
                @apply text-primary;
                margin-bottom: 0px;

                &:after {
                    @apply bg-primary;
                    content: "";
                    display: block;
                    height: 2px;
                    width: 100%;
                    border-radius: 5px 5px 0 0;
                    bottom: 0;
                    margin-top: 1px;
                }
            }

            &.disabled {
                @apply text-blueGray-400;
                cursor: not-allowed;
            }
        }
    }

    > .tab-content {
        @apply p-2 pt-1;
    }
}

