.table-relative {
   overflow: auto;
   position: relative;
}

.table {
   width: 100%;

   &.sticky-header th {
      position: sticky;
      top: 0;
   }

   thead {
      > tr {
         // @apply border-b-1 border-coolGray-150;
         
         &:last-child{
            th{
               // @apply border-b-2 border-coolGray-150;
               box-shadow: 2px 1px 3px 0px #4d4d4d2b;
            }
         }

         > th {
            @apply text-blueGray-500 bg-white;
            text-align: left;
            font-weight: 600;
         }
      }
   }

   tbody {
      > tr {
        &:not(:first-child){
           @apply border-t-1 border-coolGray-150;
        } 

         >td{
            @apply p-1;
         }
      }
   }
}