/*.form-control-group {
    @apply inline-block w-60;

    &:not(.inline-label) {
        > label {
            @apply text-xs mb-1 italic block;
            
        }

        > .form-control {
            width: 100%;
        }
    }

    &.inline-label {
        @apply grid grid-cols-3 items-center;

        > label {
            @apply col-span-1 text-sm h-fit;
        }

        > .form-control {
            @apply col-span-2;
        }
    }

    &.inline-icon {
        > .form-control {
            padding-right: 1.75rem;

            & ~ .from-control-icon {
                @apply text-blueGray-400 text-sm;
                margin-left: -1.5rem;
                width: 1rem;
            }
        }
    }
}

.form-control-group.input-error > .form-control,
.form-control.input-error {
    @apply border-1 border-danger text-danger;
    background: #fdf5f5;

    & ~ .from-control-icon {
        @apply text-danger;
    }
}


.form-control {
    @apply bg-blueGray-50 border-blueGray-200 border-1 rounded-md px-2 py-1 text-sm;
    outline: none;
    &:hover {
    }

    &:focus {
        @apply border-blueGray-300;
    }
}

.form-control-checkbox {

    label {
        @apply flex items-center;

        > input[type="checkbox"] {
            display: none;

            & ~ span {
                @apply rounded-sm;
                cursor: pointer;
                display: inline-block;
                width: .8rem;
                height: .8rem;
                position: relative;
                text-align: center;
                padding: 7px;
                display: inline-flex;
                align-items: center;
                justify-content: center;

                &:hover{
                    filter: brightness(1.1);
                }

                &:after {
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    color: #fff;
                    font-size: 8px;
                }
            }

            &:not(:checked) ~ span {
                @apply border-1 border-coolGray-400;
                padding: 6px;
            }

            &:checked ~ span {
                @apply bg-primary rounded-sm;

                &:after {
                    content: "\f00c";
                }
            }

            &[indecisive] ~ span {
                @apply bg-primary rounded-sm;


                &:after {
                    content: "\f068";
                }
            }

            & ~ label {
                @apply text-xs ml-1;
            }
        }
    }
}
        */



.form-control-group {
  &.inline-icon {
    @apply relative;

    > .form-control {
      padding-right: 1.75rem;

      & ~ .from-control-icon {
        @apply text-blueGray-400 text-sm absolute bottom-1.5 right-2 cursor-pointer;
        margin-left: -1.5rem;
        width: 1rem;
      }
    }
  }

  > label {
    @apply text-gray-700 text-sm;
  }
}

.form-control-group.input-error > .form-control,
.form-control.input-error {
  @apply border-1 border-danger text-danger;
  background: #fdf5f5;

  & ~ .from-control-icon {
    @apply text-danger;
  }
}

.form-control {
  @apply text-sm py-1 px-2 form-input block w-full rounded-md border-gray-300 shadow-sm;

  &:focus {
    @apply border-indigo-300 ring ring-indigo-200 ring-opacity-50;
  }
}

.form-control-checkbox {
  @apply form-checkbox rounded border-gray-300 text-indigo-600 shadow-sm;

  &:focus {
    @apply border-indigo-300 ring ring-offset-0 ring-indigo-200 ring-opacity-50;
  }
}


.btn {
  @apply bg-gray-200 text-sm rounded-md;
  outline: none !important;
  cursor: pointer;
  padding: 0.25rem 0.5rem;


  &:hover {
    filter: brightness(1.02);
  }

  &:active {
    filter: brightness(0.99);
  }

  &.btn-sm {
    @apply text-xs;
  }

  &.btn-primary {
    @apply bg-primary text-white;
  }
  /*&.btn-secondary {
        @apply bg-secondary text-white;
    }*/

  &.btn-link {
    @apply bg-transparent text-coolGray-500 hover:text-blueGray-400 focus:text-blueGray-600;

    &:hover {
      filter: none;
    }
  }

  > i {
    margin: 0;

    & ~ span {
      @apply ml-1;
    }
  }
}
