/*@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


h1 {
    @apply text-2xl font-semibold;
}
h2 {
    @apply text-xl font-semibold;
}

h6{
    @apply text-sm font-bold;
}

p {
    @apply text-coolGray-500 text-sm;
}*/