<template>
   <div class="text-right">
      <button type="button" class="btn btn-sm btn-primary">
         <i class="fas fa-plus"></i>
         <span>Create New</span>
      </button>
   </div>
   
   <!-- Button -->
   <div class="table-relative">
      <table class="table table-sm table-hover table-striped sticky-header">
         <thead>
            <tr>
               <th>Device Name</th>
               <th>Type</th>
               <th>Is Alive</th>
               <th>Auth Name</th>
               <th>Auth Password</th>
            </tr>
         </thead>
         <tbody>
            <tr v-for="data, index in dataList" :key="index">
               <td>{{data.DeviceName}}</td>
               <td>{{data.Type}}</td>
               <td>{{data.IsAlive}}</td>
               <td>{{data.AuthName}}</td>
               <td>{{data.AuthPass}}</td>
            </tr>
         </tbody>
      </table>
   </div>

   <modal-element v-model:show="modal.NewDevice.show" title="Create New Device">
      <template #body>
         <div>
            <input-group label="Device Name">
               <input type="text" class="form-control form-control-sm" required="required" />
            </input-group>
            <input-group label="Device Type" class="mr-2">
               <select class="form-control form-control-sm" required="required">
               </select>
            </input-group>
            
         </div>
      </template>

      <template #footer>
         <button type="button" class="btn btn-sm btn-link" @click="modal.NewDevice = { show: false }">Cancel</button>
         <button type="button" class="btn btn-sm btn-primary">Save</button>
      </template>


   </modal-element>
</template>

<script>
    export default {
        data: function(){
           return {
              modal: {
                 NewDevice: {
                    show: true,
                 }
              },


              dataList: [
                 {DeviceName: "Left Monitor", Type: "RGB-Led strip", IsAlive: true, AuthName:"LEFT_MONITOR", AuthPass: "KJ5r71hl2"},
                 {DeviceName: "right Monitor", Type: "RGB-Led strip", IsAlive: true, AuthName:"RIGHT_MONITOR", AuthPass: "SIUV69w"},
               //   {DeviceName: "Bedroom Tv", Type: "RGBW-Led strip", IsAlive: true, AuthName:"BEDROOM_TV", AuthPass: "GFe5r7El"},
               //   {DeviceName: "Office Bed", Type: "RGB-Led strip", IsAlive: false, AuthName:"OFFICE_BED", AuthPass: "LjG5Dm23"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
                 
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},
               //   {DeviceName: "Bedroom Bed", Type: "RGBW-Led strip", IsAlive: false, AuthName:"BEDROOM_BED", AuthPass: "lYsVwKnj"},

              ]
           }
        }
    }

</script>