<template>
    <div class="w-full select-none">
        <div class="bg-gray-300 h-2 w-full rounded-full relative cursor-pointer" ref="slider" @mousedown="handleMouseEvent" @mousemove="onMouseMove">
            <span class="bg-white h-4 w-4 absolute top-0 -ml-2 -mt-1 z-10 shadow rounded-full cursor-pointer" ref="ball" :style="{left: modelValue + '%'}"></span>
            <span class="bg-blue-500 h-2 absolute left-0 top-0 rounded-full" :style="{width: modelValue + '%'}"></span>
        </div>
        <div class="flex justify-between mt-2 text-xs text-gray-600">
            <span class="w-8 text-left">0%</span>
            <span class="w-8 text-right">100%</span>
        </div>
    </div>
</template>

<script>
    import prop from "../../baseProp";

    export default {
        props: {
            disabled: prop.Boolean(false, false),
            modelValue: {
                type: [String, Number],
                required: true,
                validator: val => 0 <= val && val <= 100
            },
        },
        emits: [
            'update:modelValue',
            'input'
        ],
        data: function () {
            return {
                editing: false
            }
        },
        methods: {
            onMouseMove: function (event) {
                if (!this.editing) return;
                this.handleMouseEvent(event);
            },
            handleMouseEvent: function (event) {
                if (this.disabled || this.disabled == "true") return;
                this.editing = true;

                var bounds = this.$refs.slider.getBoundingClientRect();
                const value = (event.clientX - bounds.x) / bounds.width * 100;

                if (0 <= value && value <= 100) {
                    this.$emit("update:modelValue", value);
                    this.$emit("input", value);
                }
            }
        },
        computed: {
            IsInline: function () {
                return this.inline === undefined || this.inline.toString() === "true";
            }
        },
        mounted() {
            document.addEventListener("mousemove", this.onMouseMove);
            document.addEventListener("mouseup", ()=> this.editing = false);
        }
    }

</script>