﻿<template>
    <div :style="{'max-height': maxHeight + 'px'}">
        <div class="d-flex justify-content-end mb-2">
            <slot name="button-row" />
            <!-- <table-column-order 
                v-if="Options.HasOrderableColumns"
                v-model="value.ColumnOrder"
                v-on:save-column-order="saveTableColumns"
                v-on:restore-column-order="restoreTableColumns"/> -->
        </div>
        <div class="overflow-auto" style="min-height: 35vh;">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th v-if="Options.HasFilterSelect||Options.HasRowSelect"></th>
                        <th v-for="col in visibleColumns" 
                            :key="'table-' + TableId + '-HeaderColumn' + col.ColumnId"
                            class="sortable-th user-select-none"
                            :class="col.FilterClass||col.ColumnClass"
                            :style="col.Style"
                            v-on:click="setHeaderClick(col)"
                            >
                            <slot name="header" v-bind="col">
                                <span>{{col.HeaderText||col.ColumnName}}</span>
                            </slot>
                            <i v-if="(Options.HasFilterRow === undefined ? value.Filter : Options.HasFilterRow) && col.ColumnId === value.Filter.OrderBy" 
                                class="fas" 
                                :class="value.Filter.OrderByDesc ? 'fa-sort-amount-down' : 'fa-sort-amount-up'">
                            </i>
                        </th>
                    </tr>
                    <tr v-if="Options.HasFilterRow === undefined ? value.Filter : Options.HasFilterRow" >
                        <th v-if="Options.HasFilterSelect||Options.HasRowSelect">
                            <input-checkbox name="selectAll" 
                                v-if="Options.HasFilterSelect"
                                v-model="selectAll" 
                                v-on:click.stop
                                v-on:input="$emit('row-select-change', $event)"/>
                        </th>
                        <th v-for="col in visibleColumns" 
                            :key="'table-' + TableId + '-FilterColumn' + col.ColumnId"
                            :class="col.BodyClass"
                            :style="col.Style"
                            >

                            <slot name="filter" v-bind="col">

                                <!-- <div is="input-date"
                                    v-if="['date', 'datetime', 'shortdate'].indexOf((col.FilterType||col.ColumnType||'').toLowerCase()) > -1"
                                    v-bind:type="col.FilterType"
                                    v-bind:value="value.Filter[col.FilterName||col.ColumnName]"
                                    v-on:input="setHandleFilterChange(col, $event)"></div>

                                <div is="input-checkbox"
                                    v-else-if="(col.FilterType||col.ColumnType||'').toLowerCase() === 'checkbox'"
                                    v-bind:name="col.FilterName||col.ColumnName"
                                    v-bind:value="value.Filter[col.FilterName||col.ColumnName]"
                                    v-on:input="setHandleFilterChange(col, $event)"></div>

                                <select is="bootstrap-select"
                                    class="form-control form-control-sm"
                                    v-else-if="(col.FilterType||col.ColumnType||'').toLowerCase() === 'select'"
                                    container="body"
                                    v-bind:value="value.Filter[col.FilterName||col.ColumnName]"
                                    v-bind:style="col.Style"
                                    v-on:input="setHandleFilterChange(col, $event)">
                                    <option v-for="item in filteroptions[col.FilterName||col.ColumnName]" :value="item.Id">{{item.Text}}</option>
                                </select>

                                <input type="text" 
                                    v-else
                                    class="form-control form-control-sm" 
                                    v-bind:value="value.Filter[col.FilterName||col.ColumnName]"
                                    v-on:input="setHandleFilterChange(col, $event)"/> -->
                            </slot>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="item, rowIndex in value.Items" :key="'row' + (item.Id||rowIndex)">
                        <tr v-on:click="$emit('row-click', item)">
                            <slot name="row" v-bind="item">
                                <td v-if="Options.HasFilterSelect||Options.HasRowSelect">
                                    <!-- <div is="input-checkbox" :name="name +'Row'+ rowIndex" 
                                        v-if="Options.HasRowSelect"
                                        v-model="item.isSelected"
                                        v-on:input="$emit('row-select-change', item)"></div> -->
                                </td>
                                <td v-for="(col, colIndex) in visibleColumns"
                                    :key="'table-' + TableId + '-bodyCell-' + (col.ColumnId||colIndex) + '-' + (item.Id||rowIndex)"
                                    :class="col.BodyClass||col.ColumnClass"
                                    >
                                    <slot name="body" :column="col" :index="rowIndex" :data="item[col.ColumnName]" :model="item">
                                        <!-- <template v-if="(col.BodyType||col.ColumnType||'').toLowerCase() === 'shortdate'">{{item[col.ColumnName] | shortdate}}</template>
                                        <template v-else-if="(col.BodyType||col.ColumnType||'').toLowerCase() === 'date'">{{item[col.ColumnName] | date}}</template>
                                        <template v-else-if="(col.BodyType||col.ColumnType||'').toLowerCase() === 'datetime'">{{item[col.ColumnName] | datetime}}</template>

                                        <template v-else-if="(col.BodyType||col.ColumnType||'').toLowerCase() === 'select'">{{item[col.ColumnName] | selectValue(filteroptions[col.FilterName])}}</template>
                                        <template v-else-if="(col.BodyType||col.ColumnType||'').toLowerCase() === 'filesize'">{{item[col.ColumnName] | fileSize }}</template> -->

                                        <!-- <template v-else>{{item[col.ColumnName] }}</template> -->
                                        <template>{{item[col.ColumnName] }}</template>
                                    </slot>
                                </td>
                            </slot>

                        </tr>
                        <tr class="table-no-hover">
                            <slot name="row-appending" v-bind="item"></slot>
                        </tr>
                    </template>

                    <tr class="table-no-hover">
                        <td :colspan="visibleColumns.length + 1">
                            <div v-if="value.isLoading" 
                                class="d-flex align-items-center justify-content-center">
                                <div class="spinner-loader"></div>
                                <span class="ml-1">Loading table data..</span>
                            </div>
                            <div v-else-if="value.Items.length > 0 " 
                                class="d-flex align-items-center justify-content-center">
                                <span>All items are shown</span>
                            </div>
                            <div v-else
                                class="d-flex align-items-center justify-content-center">
                                <span>Could not find any items</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        options: {
            type: Object,
            required: false
        },
        filteroptions: {
            type: Object,
            required: false,
            default() { return {} }
        },
        value: {
            type: Object,
            required: true,
            validator: function (val) {
                // List Items and column order are the only properties that are required
                // make sure that they are included, and are in the correct format.

                if (!(val && val.Items && val.ColumnOrder)) return false;
                if (typeof (val.ColumnOrder) !== "object") return false;
                if (!(val.Items.length >= 0)) return false; // Make sure Items is an array
                return true;
            }
        },
        tableid: {
            type: [String, Number],
            required: true,
            validator: function (val) {return val > 0}
        },
        name: {
            type: String,
            required: true
        }
    },
    data: function() {
        return {
            maxHeight: undefined,
            filterTimeout: undefined,
        }  
    },
    computed: {
        Options: function () {
            var fallback = {
                HasOrderableColumns: true,
                HasFilterOrder: true,
                HasFilterRow: true,
                HasFilterSelect: true,
                HasRowSelect: true,
            }

            return this.value.Options || fallback;
        },
        selectAll: {
            get: function () {
                if (!(this.value.Items.length > 0)) return false

                return this.value.Items.filter(function (x) { return !x.isSelected }).length === 0
                    
            },
            set: function (value) {
                var obj = JSON.parse(JSON.stringify(this.value));

                obj.Items = obj.Items.map(function (x) {
                    x.isSelected = value;
                    return x
                });

                this.$emit('input', obj)
            }
        },
        visibleColumns: function () {
            return this.value.ColumnOrder.filter(function (x) { return !x.Hidden })
        },
        TableId: function () {
            return parseInt(this.tableid)
        },
    },
    methods: {
        // EXTERNAL (API)
        fetchTableColumns: function () {
            this.$dataService.TableColumnPreference.Get(this.TableId)
                .then(this.setTableColumns);
        },
        restoreTableColumns: function () {
            this.$emit('restore-column-order');

            this.$dataService.TableColumnPreference.Restore(this.TableId)
                .then(this.setTableColumns);
        },
        saveTableColumns: function (columnOrder) {
            this.$emit('save-column-order', columnOrder);

            this.$dataService.TableColumnPreference.Save(this.TableId, columnOrder)
            this.setTableColumns;
        },
        setTableColumns: function (columnOrder) {
            var value = JSON.parse(JSON.stringify(this.value)); 
            value.ColumnOrder = columnOrder;
            this.$emit('input', value);
        },

        // INTERNAL
        setHeaderClick: function (column) {
            clearTimeout(this.filterTimeout);
            this.filterTimeout = setTimeout(this.headerClick(column), 250);
        },
        headerClick: function (column) {
            // TO USE THE ORDER BY FUNCTIONALITY MUST THE USER HAVE INSERTED THE OrderBy Object
            // INTO THE V-MODEL OF THE TABLE.
            if (this.value.Filter === undefined) return;

            var switchDirection = this.value.Filter.OrderBy === column.ColumnId
            var orderBydesc = this.value.Filter.OrderByDesc;

            var value = JSON.parse(JSON.stringify(this.value));

            value.isLoading = true;

            value.Items = [];
            value.Filter.CurrentPage = 1
            value.Filter.OrderBy = column.ColumnId;
            value.Filter.OrderByDesc = switchDirection ? !orderBydesc : true


            this.$emit('input', value);
            this.$emit('table-filter-change', value);
        },
        setHandleScrollPaging: function (event) {
            clearTimeout(this.filterTimeout);
            this.filterTimeout = setTimeout(this.handleScrollPaging(event), 250);
        },
        handleScrollPaging: function (event) {
            if (!this.value.Filter) return;

            var elm = event.target
            var value = this.value

            var endOfList = (elm.scrollHeight < elm.scrollTop + elm.offsetHeight + 100) // USER HAS SCROLLED TO THE BOTTOM OF THE PAGE
            var endOfData = value.TotalNumberOfItems === value.Items.length;  // THERE DOES NOT EXIST ANY MORE RECORDS IN THE DB

            if (endOfList && !endOfData && !value.isLoading) {
                value = JSON.parse(JSON.stringify(value))
                value.Filter.CurrentPage = (value.Filter.CurrentPage||1) + 1; 
                value.isLoading = true;

                this.$emit('input', value);
                this.$emit('table-filter-change', value);
            }
        },
        setHandleFilterChange: function (column, event) {
            clearTimeout(this.filterTimeout);
            this.filterTimeout = setTimeout(this.handleFilterChange(column, event), 250);
        },
        handleFilterChange: function (column, event) {

            var value = JSON.parse(JSON.stringify(this.value));

            value.isLoading = true;

            value.Items = [];
            value.Filter.CurrentPage = 1;
            value.Filter[column.FilterName || column.ColumnName] = event;

            this.$emit('input', value);
            this.$emit('table-filter-change', value);
        }
    },
    // filters: {
    //     selectValue: function (value, lookupList) {
    //         if (!value) return "";

    //         var items = (lookupList || [])
    //             .filter(function (x) { return x.Id == value });

    //         if (items.length === 1) return items[0].Text;
    //         else return "";
    //     }
    // },
    updated: function () {
        //this.ColumnOrder = this.value.ColumnOrder;

        if (this.$el) {
            var bounds = this.$el.getBoundingClientRect();
            this.maxHeight = bounds.height + window.outerHeight - bounds.bottom - 110
        }
    },
    mounted: function () {
        this.$el.addEventListener('scroll', this.setHandleScrollPaging);
        this.fetchTableColumns();
    }
}
</script>
