﻿<template>
    <div class="bg-coolGray-100 h-screen w-screen p-3 flex items-center justify-center">
        <div class="bg-white p-3 rounded-md shadow-sm grid w-full max-w-xs" v-on-submit="signin">
            <h1>Welcome Back!</h1>
            <p class="text-xs text-gray-600 italic mb-2">Sign In</p>
            <input-text v-model="request.Username" label="Username" placeholder="John Smith" required="true"></input-text>
            <input-password class="mt-1" v-model="request.Password" label="Password" placeholder="Pa****d" required="true"></input-password>
            <!--<input-checkbox class="mt-2" v-model="request.IsPersistent">Remember Me</input-checkbox>-->
            <div class="form-control-group">
                <input type="checkbox" class="form-control-checkbox" v-model="request.IsPersistent"/>
                <label>Remember Me</label>
            </div>
            <div class="mt-3 text-center">
                <button type="submit" class="btn btn-sm btn-primary w-fill px-5">
                    <span>Sign in</span>
                </button>
                <!--<button type="button" class="btn btn-sm btn-secondary">
                    <span>Register</span>
                </button>-->
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                request: {
                    Username: "",
                    Password: "",
                    IsPersistent: false
                }

            }
        },
        methods: {
            signin: function () {
                this.$store.dispatch("Auth/signin", this.request)
                    .then(() => this.$router.push({ name: 'Dashboard' }))
                    .catch(this.signinFailed)
            },
            singinFailed: function () {

            }
        }
    }
</script>