
// Vue.component("table-column-order", {
//     template: `
//         <div class="dropdown user-select-none">
//             <button type="button" 
//                 ref="button"
//                 class="btn btn-secondary btn-sm" 
//                 v-on:click="showColumnOrder">
//                 <i class="fa fa-cog"></i>
//             </button>
//             <div style="width:260px;"
//                 class="dropdown-menu dropdown-menu-right"
//                 ref="dropdownMenu">
//                 <p class="m-1 mx-3 italic">Column Order</p>
//                 <ul class="p-0 sortableList ui-sortable" ref="dropdownList">
                   
                
//                     <li v-for="col in value"
//                         :key="'ColumnId-' + col.ColumnId"
//                         class="px-1 py-1 m-1 mx-2 d-flex justify-content-between align-items-center sortableItem"
//                         ref="ColumnOrder"
//                         v-bind="{'data-column-id': col.ColumnId}">
//                         <span>
//                             <i class="fa fa-grip-vertical"></i>
//                             <span class="mx-1 w100p cursor-default">{{col.HeaderText || col.ColumnName}}</span>
//                         </span>
//                         <i class="cursor-pointer fa" 
//                             :class="!col.Hidden? 'fa-eye' : 'fa-eye-slash'"
//                             v-on:click="toggleVisibility(col.ColumnId)"
//                             >
//                         </i>
//                     </li>

//                 </ul>
//                 <div class="mx-2 mb-1">
//                     <button type="button" 
//                         class="btn btn-secondary btn-sm mr-1"
//                         v-on:click="$emit('restore-column-order')"
//                     >Reset To Default</button>
//                 </div>
//             </div>
//         </div>
//     `,
//     props: {
//         value: {
//             required: true,
//             validator: function (val) { return val.length >= 0}
//         }
//     },
//     methods: {
//         toggleVisibility: function (columnId) {

//             var columnOrder = JSON.parse(JSON.stringify(this.value))
//             var column = columnOrder.find(function (x) { return x.ColumnId === columnId})
//             column.Hidden = !column.Hidden;

//             this.$emit('input', columnOrder);
//             this.$emit('save-column-order', columnOrder);
//         },
//         showColumnOrder: function (event) {
//             $(event.target).closest("button").dropdown("toggle")
//         },
//         sortOrderChanged: function (event, a, b) {

//             var columnOrder = $("li", this.$el)
//                 .map(function (i, e) { return $(e).data("columnId") })
//                 .toArray() // CREATE A NORMAL ARRAY AND NOT THE jQUERY ARRAY
//                 .map(this.getColumnDataById);

//             this.$emit('input', columnOrder);
//             this.$emit('save-column-order', columnOrder);
//         },

//         getColumnDataById: function (columnId) {
//             return this.value.find(function (x) { return x.ColumnId === columnId})
//         },
//         verifyClickOutside: function (e) {
//             var menu = $(this.$refs.dropdownMenu)

//             if (!menu.is(e.target) && menu.has(e.target).length === 0) {
//                 $(this.$refs.button).closest("button").dropdown("hide")
//             }
//         }

//     },
//     mounted: function () {
//         var ddm = this.$refs.dropdownList

//         $(ddm).sortable({
//             axis: "y",
//             stop: this.sortOrderChanged,
//             items: "li:not(.locked)"
//         })

//         $(document).mouseup(this.verifyClickOutside)
//     }
// })