<template>
    <div class="tab-content" ref="content">
        <slot />
    </div>
</template>

<script>
    import prop from '../baseProp';

    export default {
        name: "TabContent",
        props: {
            name: prop.String(true),
        }
    }
</script>

