<template>
    <span class="tab-item" :class="{'active' : Active, 'disabled' : Disabled }">
        <slot />
    </span>
</template>

<script>
    import prop from '../baseProp';

    export default {
        name: "TabItem",
        props: {
            for: prop.String(true),
            active: prop.Boolean(false, false),
            disabled: prop.Boolean(false, false),
        },
        computed: {
            Active: function () {
                return ["", "true", true].indexOf(this.active) > -1;
            },
            Disabled: function () {
                return ["", "true", true].indexOf(this.disabled) > -1;
            },
        }
    }
</script>

