﻿<template>
    <div class="content grid h-screen bg-coolGray-100 dark:bg-gray-900">
        <nav id="TopNav" class="h-full col-start-2 col-end-3 p-4 pr-8 z-0">
            <div></div>
            <div class="flex h-full items-center float-right">
                <i class="bi bi-bell-fill mr-5" disabled="disabled"></i>
                <i class="bi bi-clock-history mr-5" disabled="disabled"></i>
                <i class="bi bi-person-circle" disabled="disabled"></i>
            </div>
        </nav>
        <nav id="SideNav">
            <!--Company Logo-->
            <!--Company Logo-->
            <!--Company Logo-->
            <div class="logo">
                <div class="bg-white h-fit p-1 rounded-md shadow-sm">
                    <svg height="25" viewBox="0 0 324 324" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="35" y="203.174" width="115.165" height="115.165" rx="20" transform="rotate(-60 35 203.174)" fill="#F2AE72" />
                        <rect x="146.326" y="109.543" width="53.7438" height="53.7438" rx="20" transform="rotate(-60 146.326 109.543)" fill="#F2AE72" />
                        <rect x="232.316" y="117.229" width="42.2273" height="42.2273" rx="20" transform="rotate(-60 232.316 117.229)" fill="#F2AE72" />
                        <rect x="193.928" y="191.18" width="61.4215" height="61.4215" rx="20" transform="rotate(-60 193.928 191.18)" fill="#F2AE72" />
                    </svg>
                </div>
                <div class="ml-3 text-left text-sm">
                    <p class="text-coolGray-900">Progie Managment</p>
                    <p class="text-coolGray-500">Eythorsson</p>
                </div>
            </div>

            <!-- Tools -->
            <!-- Tools -->
            <!-- Tools -->
            <div class="nav-items">
                <router-link to="/" custom v-slot="{ href, navigate, isExactActive }">
                    <a :class="{'active' : isExactActive}" :href="href" @click="navigate">
                        <i class="bi bi-speedometer2"></i><span class="ml-3">Dashboard</span>
                    </a>
                </router-link>

                <router-link to="/Device" custom v-slot="{ href, navigate, isActive }">
                    <a :class="{'active' : isActive}" :href="href" @click="navigate">
                        <i class="bi bi-cpu-fill"></i><span class="ml-3">Devices</span>
                    </a>
                </router-link>

                <!--<router-link to="/team" custom v-slot="{ href, navigate, isActive }">
                    <a :class="{'active' : isActive}" :href="href" @click="navigate">
                        <i class="bi bi-people-fill"></i><span class="ml-3">Team</span>
                    </a>
                </router-link>-->

                <!--<router-link to="/schedule" custom v-slot="{ href, navigate, isActive }">
                    <a :class="{'active' : isActive}" :href="href" @click="navigate">
                        <i class="bi bi-calendar-range-fill"></i><span class="ml-3">Schedule</span>
                    </a>
                </router-link>-->

                <!--<router-link to="/activity" custom v-slot="{ href, navigate, isActive }">
                    <a :class="{'active' : isActive}" :href="href" @click="navigate">-->
                        <!--FONT AWSOME PRO ICON-->
                        <!--<svg class="h-3 inline-block" viewBox="0 0 640 512" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M624 224H480C467.88 224 456.79 230.85 451.37 241.69L424.83 294.78L350.88 23.58C346.99 9.35 333.82 -0.510004 319.13 0.0199962C304.36 0.429996 291.8 10.86 288.7 25.3L219.56 347.98L190.77 247.2C186.84 233.47 174.29 224 160 224H16C7.16 224 0 231.16 0 240V272C0 280.84 7.16 288 16 288H135.86L193.24 488.79C197.18 502.56 209.76 511.99 223.99 511.99C224.35 511.99 224.72 511.99 225.08 511.97C239.75 511.47 252.22 501.05 255.3 486.69L323.74 167.29L385.13 392.41C386.837 398.66 390.401 404.246 395.351 408.427C400.3 412.609 406.402 415.19 412.85 415.83C426.01 417.03 438.69 410.14 444.63 398.3L499.78 288H624C632.84 288 640 280.84 640 272V240C640 231.16 632.84 224 624 224Z" />
                        </svg>-->
                        <!--FONT AWSOME PRO ICON-->
                        <!--<span class="ml-3">Activity</span>
                    </a>
                </router-link>-->

                <!--<router-link to="/automations" custom v-slot="{ href, navigate, isActive }">
                    <a :class="{'active' : isActive}" :href="href" @click="navigate">
                        <i class="bi bi-collection-fill"></i><span class="ml-3">Automations</span>
                    </a>
                </router-link>-->

            </div>

            <!-- Projects -->
            <!-- Projects -->
            <!-- Projects -->
            <!--<div class="mt-3 cursor-default select-none transition-opacity">
                <div class="mb-1 text-blueGray-600 text-opacity-50 cursor-pointer flex justify-between" >
                    <span class="group" v-on:click="isProjectExpanded = !isProjectExpanded">
                        <span>Projects</span>
                        <i class="ml-2 text-sm text-opacity-25 text-blueGray-500 group-hover:text-opacity-50"
                            :class="{'bi bi-caret-right-fill':!isProjectExpanded, 'bi bi-caret-down-fill':isProjectExpanded}"></i>
                    </span>
                    <span class="ml-2 text-sm text-blueGray-500 text-opacity-25 hover:text-opacity-50 inline-flex items-center"
                            @click="showNewProjectModal()">
                        <i class="fas fa-plus mr-1 text-xs"></i>
                        <span>New</span>
                    </span>
                </div>
                <div v-show="isProjectExpanded">
                    <router-link :to="'/Project/' + project.Id" v-slot="{ isActive, navigate }" v-for="project in projectList" :key="project.Id">
                        <div class="group pl-1 text-sm p-1 text-blueGray-600 text-opacity-50 hover:text-opacity-75"
                            :class="{'bg-coolGray-150 rounded-md': isActive}"
                            @click="navigate">
                            <i class="fas fa-grip-vertical text-xs mr-2 ml-1 text-blueGray-600 text-opacity-0 hover:text-opacity-50 group-hover:text-opacity-25"></i>
                            <span>{{project.Name}}</span>
                        </div>
                    </router-link>
                </div>
            </div>-->
            <!-- Labels -->
            <!-- Labels -->
            <!-- Labels -->
            <!--<div class="mt-3 cursor-default select-none transition-opacity">
                <div class="mb-1 text-blueGray-600 text-opacity-50 cursor-pointer flex justify-between" >
                    <span class="group" v-on:click="isLabelExpanded = !isLabelExpanded">
                        <span>Labels</span>
                        <i class="ml-2 text-sm text-opacity-25 text-blueGray-500 group-hover:text-opacity-50"
                            :class="{'bi bi-caret-right-fill':!isLabelExpanded, 'bi bi-caret-down-fill':isLabelExpanded}"></i>
                    </span>
                    <span class="ml-2 text-sm text-blueGray-500 text-opacity-25 hover:text-opacity-50 inline-flex items-center">
                        <i class="fas fa-plus mr-1 text-xs"></i>
                        <span>New</span>
                    </span>
                </div>
                <div v-show="isLabelExpanded">
                    <div class="group ml-1 text-sm mb-3 text-blueGray-600 text-opacity-50 hover:text-opacity-75"
                        v-for="label in labelList" :key="label.Id">
                        <i class="fas fa-grip-vertical text-xs mr-2 text-blueGray-600 text-opacity-0 hover:text-opacity-50 group-hover:text-opacity-25"></i>
                        <router-link :to="'/label/' + label.Id ">{{label.Name}}</router-link>
                    </div>
                </div>
            </div>-->

        </nav>
        <div id="Container" class="rounded-tl-xl bg-white shadow-md p-5 pt-8">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Master",
        data(){
            return {
                isProjectExpanded: localStorage.isProjectExpanded === "true",
                isLabelExpanded: localStorage.isLabelExpanded === "true",
                projectList: [],
                labelList: [],

                newProject: {},

            }
        },
        methods:{
            //logout: function(){
            //    this.$store.dispatch("Auth/logout")
            //        .then(()=> this.$router.push({path:"/Login"}))
            //},


            //createNewProject: function(){
            //    this.$apiService.Post("project", this.newProject).then(data => {
            //        this.$router.push({ name: 'Project', params: { projectId: 4 } })
            //        this.$lookupService.ProjectList().then(data=> this.projectList = data);
            //        this.$refs.newProjectModal.toggle(false);
            //        this.$refs.newProjectForm.clear();

            //    });
            //},
            //showNewProjectModal: function(val){
            //    if (val === undefined) val = true;
            //    this.$refs.newProjectModal.toggle(val);
            //},



        },
        watch:{
            isProjectExpanded(){ localStorage.isProjectExpanded = this.isProjectExpanded },
            isLabelExpanded(){ localStorage.isLabelExpanded = this.isLabelExpanded },

        },
        mounted(){
            //this.$lookupService.ProjectList().then(data=> this.projectList = data);
        }
    }
</script>


<style lang="scss">
    .content.grid {
        grid-template-columns: auto 1fr;
        grid-template-rows: 3rem 1fr;
    }
</style>