﻿<template>
    <svg ref="svg" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin" class="w-full h-full border-1 border-coolGray-150 rounded-md" 
         v-on:mousemove="onMouseMove" v-on:mouseup="onMouseUp">
        <defs>
            <pattern id="pattern-circles" x="0" y="0" :width="gridSpace" :height="gridSpace" patternUnits="userSpaceOnUse" patternContentUnits="userSpaceOnUse">
                <circle id="pattern-circle" :cx="(gridSpace - dotSize)/2" :cy="(gridSpace - dotSize)/2" :r="dotSize" :fill="dotColor"></circle>
            </pattern>

        </defs>

        <rect id="rect" x="0" y="0" width="100%" height="100%" fill="url(#pattern-circles)"></rect>

        <!-- Items -->
        <template v-for="(item, index) in FlowItem" :key="'flowItem-' + index">
            <svg width="150" height="113" viewBox="0 0 150 113" fill="none" xmlns="http://www.w3.org/2000/svg"
                 :x="(item.Point.x - 150/2)" :y="(item.Point.y - 20.7035 - 55/2)">
                <rect x="0" y="0" width="100%" height="100%" fill="#3333"></rect>


                <!-- ELEMENT ICON -->
                <!-- Bolt -->
                <svg x="59.5" y="0" width="31" height="15" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg"
                     class="text-warning" v-if="item.AutomationType == 1">
                    <path d="M20.9719 0.128382C21.1351 0.23476 21.2613 0.400223 21.33 0.597738C21.3987 0.795254 21.4059 1.01315 21.3503 1.21582L18.3487 12.1877H23.8868C24.0496 12.1876 24.2088 12.2412 24.3448 12.3417C24.4808 12.4423 24.5877 12.5854 24.6522 12.7535C24.7167 12.9216 24.7361 13.1073 24.7079 13.2876C24.6797 13.4679 24.6051 13.635 24.4935 13.7682L11.1606 29.7048C11.0316 29.8592 10.86 29.9598 10.6736 29.9903C10.4873 30.0208 10.2972 29.9794 10.1345 29.8729C9.9717 29.7663 9.84582 29.6009 9.77734 29.4035C9.70886 29.2062 9.70182 28.9886 9.75736 28.7861L12.7589 17.8124H7.22078C7.05803 17.8124 6.89882 17.7589 6.76281 17.6584C6.6268 17.5578 6.51994 17.4146 6.45542 17.2465C6.3909 17.0785 6.37155 16.8928 6.39976 16.7125C6.42796 16.5321 6.50249 16.3651 6.61414 16.2318L19.947 0.295247C20.0758 0.14113 20.2472 0.0405781 20.4333 0.00994227C20.6194 -0.0206936 20.8092 0.0203879 20.9719 0.126507V0.128382Z" fill="currentColor" />
                </svg>

                <!--Switch-->
                <svg x="59.5" y="2" width="31" height="13" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg"
                     class="text-coolGray-400" v-else-if="item.AutomationType == 2">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0538025 6.1915C0.0538025 5.94067 0.153446 5.70011 0.330814 5.52274C0.508181 5.34537 0.748743 5.24573 0.999578 5.24573H1.94535C6.11055 5.24573 9.18432 7.59125 11.1648 9.8195C12.0916 10.8636 12.801 11.904 13.2947 12.7174C13.7865 11.904 14.4977 10.8636 15.4245 9.8195C17.405 7.59125 20.4788 5.24573 24.644 5.24573V7.13728C21.243 7.13728 18.6421 9.04774 16.8394 11.0755C15.8647 12.1795 15.0276 13.3978 14.3464 14.7035C15.027 16.0091 15.8635 17.2273 16.8375 18.3315C18.644 20.3592 21.2467 22.2697 24.644 22.2697V24.1612C20.4788 24.1612 17.405 21.8157 15.4245 19.5875C14.6292 18.6873 13.9163 17.7174 13.2947 16.6896C12.8029 17.503 12.0916 18.5433 11.1648 19.5875C9.18432 21.8157 6.11055 24.1612 1.94535 24.1612H0.999578C0.748743 24.1612 0.508181 24.0616 0.330814 23.8842C0.153446 23.7069 0.0538025 23.4663 0.0538025 23.2155C0.0538025 22.9646 0.153446 22.7241 0.330814 22.5467C0.508181 22.3693 0.748743 22.2697 0.999578 22.2697H1.94535C5.34636 22.2697 7.94725 20.3592 9.74989 18.3315C10.7246 17.2274 11.5617 16.0092 12.243 14.7035C11.5623 13.3979 10.7258 12.1796 9.75179 11.0755C7.94535 9.04774 5.34258 7.13728 1.94535 7.13728H0.999578C0.748743 7.13728 0.508181 7.03763 0.330814 6.86027C0.153446 6.6829 0.0538025 6.44234 0.0538025 6.1915Z" fill="currentColor" />
                    <path d="M24.644 9.91029V2.47271C24.644 2.38286 24.6696 2.29487 24.7179 2.21906C24.7661 2.14324 24.8349 2.08274 24.9163 2.04463C24.9977 2.00653 25.0882 1.99239 25.1773 2.00389C25.2664 2.01538 25.3504 2.05203 25.4195 2.10953L29.8836 5.82832C30.1105 6.01748 30.1105 6.36552 29.8836 6.55468L25.4195 10.2735C25.3504 10.331 25.2664 10.3676 25.1773 10.3791C25.0882 10.3906 24.9977 10.3765 24.9163 10.3384C24.8349 10.3003 24.7661 10.2398 24.7179 10.1639C24.6696 10.0881 24.644 10.0001 24.644 9.91029ZM24.644 26.9342V19.4967C24.644 19.4068 24.6696 19.3188 24.7179 19.243C24.7661 19.1672 24.8349 19.1067 24.9163 19.0686C24.9977 19.0305 25.0882 19.0163 25.1773 19.0278C25.2664 19.0393 25.3504 19.076 25.4195 19.1335L29.8836 22.8523C30.1105 23.0414 30.1105 23.3895 29.8836 23.5786L25.4195 27.2974C25.3504 27.3549 25.2664 27.3916 25.1773 27.4031C25.0882 27.4146 24.9977 27.4004 24.9163 27.3623C24.8349 27.3242 24.7661 27.2637 24.7179 27.1879C24.6696 27.1121 24.644 27.0241 24.644 26.9342Z" fill="currentColor" />
                </svg>

                <!-- Paper plane -->
                <svg x="59.5" y="2" width="31" height="13" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg"
                     class="text-coolGray-400" v-else-if="item.AutomationType == 3">
                    <g clip-path="url(#clip-paperplane)">
                        <path d="M28.2705 0.187431L1.11778 15.8523C0.0574411 16.4615 0.19218 17.9378 1.24666 18.383L7.47392 20.9958L24.3045 6.16279C24.6267 5.87574 25.0837 6.31511 24.8083 6.64902L10.6959 23.8428V28.5587C10.6959 29.9412 12.3655 30.486 13.1857 29.4843L16.9056 24.9559L24.2049 28.0139C25.0368 28.3654 25.9858 27.844 26.1382 26.9477L30.3561 1.64026C30.5552 0.456908 29.284 -0.398388 28.2705 0.187431Z" fill="currentColor" />
                    </g>
                    <defs>
                        <clipPath id="clip-paperplane">
                            <rect width="30" height="30" fill="white" transform="translate(0.385498)" />
                        </clipPath>
                    </defs>
                </svg>


                <!-- Circle with Icon -->
                <g filter="url(#filter0_d)" v-on:mousedown="itemMouseDown(item)">
                    <rect x="47.5" y="20.7035" width="55" height="55" rx="27.5" fill="white" class="cursor-grab active:cursor-grabbing" />
                    <g clip-path="url(#clip0)" >
                        <!-- Center Icon -->
                        <!-- Trigger -->
                        <template v-if="item.AutomationType == 1">
                            <!-- Scheduled -->
                            <svg x="62.5" y="35.7035" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"
                                 class="text-blueGray-700" v-if="item.Type == 1">
                                <path d="M13.4752 1.99897C13.2075 1.9792 12.9391 1.9693 12.6706 1.96929V0.406982C12.9777 0.407132 13.2846 0.418597 13.5908 0.441353L13.4752 1.99897ZM16.6063 2.70201C16.1054 2.50876 15.5911 2.35263 15.0673 2.23488L15.4095 0.71007C16.0079 0.844428 16.5969 1.02253 17.1687 1.24438L16.6063 2.70201V2.70201ZM18.7467 3.81124C18.5234 3.66228 18.2946 3.52157 18.0608 3.38942L18.8311 2.03022C19.3653 2.33289 19.8765 2.67439 20.3607 3.05196L19.3998 4.28462C19.188 4.11938 18.9701 3.962 18.7467 3.81281V3.81124ZM21.6122 6.60777C21.3031 6.16872 20.9621 5.75306 20.5919 5.36418L21.7231 4.28618C22.1449 4.73144 22.5355 5.20794 22.8902 5.70788L21.6122 6.60777V6.60777ZM22.7746 8.72001C22.672 8.47231 22.5605 8.22843 22.4402 7.98885L23.8354 7.28581C24.1114 7.83431 24.3464 8.40246 24.5385 8.9856L23.0542 9.4746C22.9703 9.21973 22.877 8.96803 22.7746 8.72001V8.72001ZM23.6026 12.6367C23.59 12.0998 23.5378 11.5646 23.4464 11.0353L24.9854 10.7697C25.09 11.3728 25.151 11.9852 25.1666 12.5976L23.6042 12.6367H23.6026ZM23.398 15.0395C23.4495 14.7739 23.4917 14.5099 23.5245 14.2428L25.076 14.4349C25.0009 15.0445 24.8808 15.6476 24.7166 16.2394L23.2105 15.8222C23.2824 15.5645 23.3448 15.3036 23.398 15.0395V15.0395ZM21.9106 18.7562C22.1981 18.3032 22.4512 17.8282 22.6699 17.3377L24.0979 17.9704C23.8479 18.5328 23.5589 19.0734 23.2308 19.5921L21.9106 18.7562ZM20.4044 20.6388C20.595 20.4482 20.7778 20.2514 20.9513 20.0483L22.1356 21.0685C21.935 21.301 21.726 21.5261 21.509 21.7434L20.4044 20.6388V20.6388Z" fill="currentColor" />
                                <path d="M12.6706 1.96929C10.8721 1.96942 9.10142 2.41305 7.51533 3.2609C5.92925 4.10875 4.57674 5.33465 3.57761 6.83001C2.57848 8.32536 1.96356 10.044 1.78732 11.8338C1.61109 13.6235 1.87897 15.4291 2.56724 17.0906C3.25551 18.7521 4.34294 20.2182 5.73319 21.3591C7.12344 22.5 8.77362 23.2805 10.5376 23.6314C12.3015 23.9823 14.1247 23.8927 15.8458 23.3708C17.5669 22.8488 19.1327 21.9104 20.4045 20.6388L21.5091 21.7434C20.0556 23.1975 18.266 24.2708 16.2986 24.868C14.3312 25.4652 12.2469 25.5679 10.2303 25.1671C8.21369 24.7663 6.3271 23.8743 4.73767 22.5702C3.14824 21.266 1.90503 19.59 1.11821 17.6906C0.331392 15.7912 0.0252454 13.727 0.2269 11.681C0.428554 9.63498 1.13178 7.67029 2.27428 5.961C3.41677 4.25171 4.96326 2.8506 6.77671 1.8818C8.59017 0.913005 10.6146 0.406438 12.6706 0.406983V1.96929Z" fill="currentColor" />
                                <path d="M11.8894 5.09392C12.0966 5.09392 12.2953 5.17622 12.4418 5.32271C12.5883 5.46921 12.6706 5.6679 12.6706 5.87507V14.0147L17.7453 16.9143C17.9199 17.0197 18.0464 17.1892 18.0978 17.3866C18.1491 17.584 18.1212 17.7936 18.02 17.9707C17.9188 18.1478 17.7523 18.2783 17.5562 18.3343C17.36 18.3903 17.1498 18.3674 16.9703 18.2704L11.5019 15.1458C11.3824 15.0775 11.283 14.9788 11.2138 14.8597C11.1447 14.7407 11.1083 14.6054 11.1082 14.4677V5.87507C11.1082 5.6679 11.1905 5.46921 11.337 5.32271C11.4835 5.17622 11.6822 5.09392 11.8894 5.09392V5.09392Z" fill="currentColor" />
                            </svg>

                            <!-- Device -->
                            <svg x="62.5" y="35.7035" width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg"
                                 class="text-blueGray-700" v-if="item.Type == 2">
                                <path d="M10.1562 9.78198C9.94905 9.78198 9.75034 9.86429 9.60382 10.0108C9.45731 10.1573 9.375 10.356 9.375 10.5632V15.2507C9.375 15.4579 9.45731 15.6566 9.60382 15.8032C9.75034 15.9497 9.94905 16.032 10.1562 16.032H14.8438C15.051 16.032 15.2497 15.9497 15.3962 15.8032C15.5427 15.6566 15.625 15.4579 15.625 15.2507V10.5632C15.625 10.356 15.5427 10.1573 15.3962 10.0108C15.2497 9.86429 15.051 9.78198 14.8438 9.78198H10.1562Z" fill="currentColor" />
                                <path d="M8.59375 1.18823C8.59375 0.981032 8.51144 0.782318 8.36493 0.635805C8.21841 0.489292 8.0197 0.406982 7.8125 0.406982C7.6053 0.406982 7.40659 0.489292 7.26007 0.635805C7.11356 0.782318 7.03125 0.981032 7.03125 1.18823V3.53198C5.99525 3.53198 5.00168 3.94353 4.26911 4.6761C3.53655 5.40866 3.125 6.40223 3.125 7.43823H0.78125C0.57405 7.43823 0.375336 7.52054 0.228823 7.66706C0.08231 7.81357 0 8.01228 0 8.21948C0 8.42668 0.08231 8.6254 0.228823 8.77191C0.375336 8.91842 0.57405 9.00073 0.78125 9.00073H3.125V10.5632H0.78125C0.57405 10.5632 0.375336 10.6455 0.228823 10.7921C0.08231 10.9386 0 11.1373 0 11.3445C0 11.5517 0.08231 11.7504 0.228823 11.8969C0.375336 12.0434 0.57405 12.1257 0.78125 12.1257H3.125V13.6882H0.78125C0.57405 13.6882 0.375336 13.7705 0.228823 13.9171C0.08231 14.0636 0 14.2623 0 14.4695C0 14.6767 0.08231 14.8754 0.228823 15.0219C0.375336 15.1684 0.57405 15.2507 0.78125 15.2507H3.125V16.8132H0.78125C0.57405 16.8132 0.375336 16.8955 0.228823 17.0421C0.08231 17.1886 0 17.3873 0 17.5945C0 17.8017 0.08231 18.0004 0.228823 18.1469C0.375336 18.2934 0.57405 18.3757 0.78125 18.3757H3.125C3.125 19.4117 3.53655 20.4053 4.26911 21.1379C5.00168 21.8704 5.99525 22.282 7.03125 22.282V24.6257C7.03125 24.8329 7.11356 25.0316 7.26007 25.1782C7.40659 25.3247 7.6053 25.407 7.8125 25.407C8.0197 25.407 8.21841 25.3247 8.36493 25.1782C8.51144 25.0316 8.59375 24.8329 8.59375 24.6257V22.282H10.1562V24.6257C10.1562 24.8329 10.2386 25.0316 10.3851 25.1782C10.5316 25.3247 10.7303 25.407 10.9375 25.407C11.1447 25.407 11.3434 25.3247 11.4899 25.1782C11.6364 25.0316 11.7188 24.8329 11.7188 24.6257V22.282H13.2812V24.6257C13.2812 24.8329 13.3636 25.0316 13.5101 25.1782C13.6566 25.3247 13.8553 25.407 14.0625 25.407C14.2697 25.407 14.4684 25.3247 14.6149 25.1782C14.7614 25.0316 14.8438 24.8329 14.8438 24.6257V22.282H16.4062V24.6257C16.4062 24.8329 16.4886 25.0316 16.6351 25.1782C16.7816 25.3247 16.9803 25.407 17.1875 25.407C17.3947 25.407 17.5934 25.3247 17.7399 25.1782C17.8864 25.0316 17.9688 24.8329 17.9688 24.6257V22.282C19.0048 22.282 19.9983 21.8704 20.7309 21.1379C21.4634 20.4053 21.875 19.4117 21.875 18.3757H24.2188C24.426 18.3757 24.6247 18.2934 24.7712 18.1469C24.9177 18.0004 25 17.8017 25 17.5945C25 17.3873 24.9177 17.1886 24.7712 17.0421C24.6247 16.8955 24.426 16.8132 24.2188 16.8132H21.875V15.2507H24.2188C24.426 15.2507 24.6247 15.1684 24.7712 15.0219C24.9177 14.8754 25 14.6767 25 14.4695C25 14.2623 24.9177 14.0636 24.7712 13.9171C24.6247 13.7705 24.426 13.6882 24.2188 13.6882H21.875V12.1257H24.2188C24.426 12.1257 24.6247 12.0434 24.7712 11.8969C24.9177 11.7504 25 11.5517 25 11.3445C25 11.1373 24.9177 10.9386 24.7712 10.7921C24.6247 10.6455 24.426 10.5632 24.2188 10.5632H21.875V9.00073H24.2188C24.426 9.00073 24.6247 8.91842 24.7712 8.77191C24.9177 8.6254 25 8.42668 25 8.21948C25 8.01228 24.9177 7.81357 24.7712 7.66706C24.6247 7.52054 24.426 7.43823 24.2188 7.43823H21.875C21.875 6.40223 21.4634 5.40866 20.7309 4.6761C19.9983 3.94353 19.0048 3.53198 17.9688 3.53198V1.18823C17.9688 0.981032 17.8864 0.782318 17.7399 0.635805C17.5934 0.489292 17.3947 0.406982 17.1875 0.406982C16.9803 0.406982 16.7816 0.489292 16.6351 0.635805C16.4886 0.782318 16.4062 0.981032 16.4062 1.18823V3.53198H14.8438V1.18823C14.8438 0.981032 14.7614 0.782318 14.6149 0.635805C14.4684 0.489292 14.2697 0.406982 14.0625 0.406982C13.8553 0.406982 13.6566 0.489292 13.5101 0.635805C13.3636 0.782318 13.2812 0.981032 13.2812 1.18823V3.53198H11.7188V1.18823C11.7188 0.981032 11.6364 0.782318 11.4899 0.635805C11.3434 0.489292 11.1447 0.406982 10.9375 0.406982C10.7303 0.406982 10.5316 0.489292 10.3851 0.635805C10.2386 0.782318 10.1562 0.981032 10.1562 1.18823V3.53198H8.59375V1.18823ZM10.1562 8.21948H14.8438C15.4654 8.21948 16.0615 8.46641 16.501 8.90595C16.9406 9.34549 17.1875 9.94163 17.1875 10.5632V15.2507C17.1875 15.8723 16.9406 16.4685 16.501 16.908C16.0615 17.3476 15.4654 17.5945 14.8438 17.5945H10.1562C9.53465 17.5945 8.93851 17.3476 8.49897 16.908C8.05943 16.4685 7.8125 15.8723 7.8125 15.2507V10.5632C7.8125 9.94163 8.05943 9.34549 8.49897 8.90595C8.93851 8.46641 9.53465 8.21948 10.1562 8.21948V8.21948Z" fill="currentColor" />
                            </svg>
                        </template>

                        <!-- Condition -->
                        <template v-if="item.AutomationType == 2">
                            <!-- Question -->
                            <svg x="62.5" y="35.7035" width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg"
                                 class="text-blueGray-700">
                                <g clip-path="url(#clip-question)">
                                    <path d="M4.67936 6.77391C4.67555 6.86386 4.69018 6.95364 4.72234 7.03772C4.75451 7.1218 4.80353 7.19842 4.86641 7.26285C4.92928 7.32729 5.00466 7.37818 5.08793 7.41241C5.1712 7.44663 5.26059 7.46346 5.3506 7.46186H7.64839C8.03275 7.46186 8.33912 7.14713 8.38926 6.76556C8.63993 4.93847 9.89327 3.60714 12.127 3.60714C14.0377 3.60714 15.7868 4.56246 15.7868 6.86026C15.7868 8.62886 14.7451 9.44214 13.099 10.6788C11.2246 12.0407 9.74008 13.6311 9.84592 16.213L9.85427 16.8174C9.8572 17.0001 9.93185 17.1744 10.0621 17.3025C10.1924 17.4307 10.3678 17.5025 10.5506 17.5025H12.8094C12.994 17.5025 13.1712 17.4292 13.3017 17.2986C13.4323 17.168 13.5057 16.9909 13.5057 16.8062V16.5138C13.5057 14.514 14.266 13.9319 16.3187 12.375C18.0149 11.0854 19.7835 9.65382 19.7835 6.64858C19.7835 2.44014 16.2296 0.406937 12.3387 0.406937C8.80982 0.406937 4.94396 2.05021 4.67936 6.77391V6.77391ZM9.01593 22.8251C9.01593 24.3096 10.1996 25.4069 11.829 25.4069C13.5252 25.4069 14.6922 24.3096 14.6922 22.8251C14.6922 21.2876 13.5224 20.207 11.8262 20.207C10.1996 20.207 9.01593 21.2876 9.01593 22.8251Z" fill="currentColor" />
                                </g>
                                <defs>
                                    <clipPath id="clip-question">
                                        <rect width="25" height="25" fill="white" transform="translate(0 0.406982)" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </template>

                        <!-- Action -->
                        <!-- Trigger -->
                        <template v-if="item.AutomationType == 3">
                            <!-- Device -->
                            <svg x="62.5" y="35.7035" width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg"
                                 class="text-blueGray-700" v-if="item.Type == 1">
                                <path d="M10.1562 9.78198C9.94905 9.78198 9.75034 9.86429 9.60382 10.0108C9.45731 10.1573 9.375 10.356 9.375 10.5632V15.2507C9.375 15.4579 9.45731 15.6566 9.60382 15.8032C9.75034 15.9497 9.94905 16.032 10.1562 16.032H14.8438C15.051 16.032 15.2497 15.9497 15.3962 15.8032C15.5427 15.6566 15.625 15.4579 15.625 15.2507V10.5632C15.625 10.356 15.5427 10.1573 15.3962 10.0108C15.2497 9.86429 15.051 9.78198 14.8438 9.78198H10.1562Z" fill="currentColor" />
                                <path d="M8.59375 1.18823C8.59375 0.981032 8.51144 0.782318 8.36493 0.635805C8.21841 0.489292 8.0197 0.406982 7.8125 0.406982C7.6053 0.406982 7.40659 0.489292 7.26007 0.635805C7.11356 0.782318 7.03125 0.981032 7.03125 1.18823V3.53198C5.99525 3.53198 5.00168 3.94353 4.26911 4.6761C3.53655 5.40866 3.125 6.40223 3.125 7.43823H0.78125C0.57405 7.43823 0.375336 7.52054 0.228823 7.66706C0.08231 7.81357 0 8.01228 0 8.21948C0 8.42668 0.08231 8.6254 0.228823 8.77191C0.375336 8.91842 0.57405 9.00073 0.78125 9.00073H3.125V10.5632H0.78125C0.57405 10.5632 0.375336 10.6455 0.228823 10.7921C0.08231 10.9386 0 11.1373 0 11.3445C0 11.5517 0.08231 11.7504 0.228823 11.8969C0.375336 12.0434 0.57405 12.1257 0.78125 12.1257H3.125V13.6882H0.78125C0.57405 13.6882 0.375336 13.7705 0.228823 13.9171C0.08231 14.0636 0 14.2623 0 14.4695C0 14.6767 0.08231 14.8754 0.228823 15.0219C0.375336 15.1684 0.57405 15.2507 0.78125 15.2507H3.125V16.8132H0.78125C0.57405 16.8132 0.375336 16.8955 0.228823 17.0421C0.08231 17.1886 0 17.3873 0 17.5945C0 17.8017 0.08231 18.0004 0.228823 18.1469C0.375336 18.2934 0.57405 18.3757 0.78125 18.3757H3.125C3.125 19.4117 3.53655 20.4053 4.26911 21.1379C5.00168 21.8704 5.99525 22.282 7.03125 22.282V24.6257C7.03125 24.8329 7.11356 25.0316 7.26007 25.1782C7.40659 25.3247 7.6053 25.407 7.8125 25.407C8.0197 25.407 8.21841 25.3247 8.36493 25.1782C8.51144 25.0316 8.59375 24.8329 8.59375 24.6257V22.282H10.1562V24.6257C10.1562 24.8329 10.2386 25.0316 10.3851 25.1782C10.5316 25.3247 10.7303 25.407 10.9375 25.407C11.1447 25.407 11.3434 25.3247 11.4899 25.1782C11.6364 25.0316 11.7188 24.8329 11.7188 24.6257V22.282H13.2812V24.6257C13.2812 24.8329 13.3636 25.0316 13.5101 25.1782C13.6566 25.3247 13.8553 25.407 14.0625 25.407C14.2697 25.407 14.4684 25.3247 14.6149 25.1782C14.7614 25.0316 14.8438 24.8329 14.8438 24.6257V22.282H16.4062V24.6257C16.4062 24.8329 16.4886 25.0316 16.6351 25.1782C16.7816 25.3247 16.9803 25.407 17.1875 25.407C17.3947 25.407 17.5934 25.3247 17.7399 25.1782C17.8864 25.0316 17.9688 24.8329 17.9688 24.6257V22.282C19.0048 22.282 19.9983 21.8704 20.7309 21.1379C21.4634 20.4053 21.875 19.4117 21.875 18.3757H24.2188C24.426 18.3757 24.6247 18.2934 24.7712 18.1469C24.9177 18.0004 25 17.8017 25 17.5945C25 17.3873 24.9177 17.1886 24.7712 17.0421C24.6247 16.8955 24.426 16.8132 24.2188 16.8132H21.875V15.2507H24.2188C24.426 15.2507 24.6247 15.1684 24.7712 15.0219C24.9177 14.8754 25 14.6767 25 14.4695C25 14.2623 24.9177 14.0636 24.7712 13.9171C24.6247 13.7705 24.426 13.6882 24.2188 13.6882H21.875V12.1257H24.2188C24.426 12.1257 24.6247 12.0434 24.7712 11.8969C24.9177 11.7504 25 11.5517 25 11.3445C25 11.1373 24.9177 10.9386 24.7712 10.7921C24.6247 10.6455 24.426 10.5632 24.2188 10.5632H21.875V9.00073H24.2188C24.426 9.00073 24.6247 8.91842 24.7712 8.77191C24.9177 8.6254 25 8.42668 25 8.21948C25 8.01228 24.9177 7.81357 24.7712 7.66706C24.6247 7.52054 24.426 7.43823 24.2188 7.43823H21.875C21.875 6.40223 21.4634 5.40866 20.7309 4.6761C19.9983 3.94353 19.0048 3.53198 17.9688 3.53198V1.18823C17.9688 0.981032 17.8864 0.782318 17.7399 0.635805C17.5934 0.489292 17.3947 0.406982 17.1875 0.406982C16.9803 0.406982 16.7816 0.489292 16.6351 0.635805C16.4886 0.782318 16.4062 0.981032 16.4062 1.18823V3.53198H14.8438V1.18823C14.8438 0.981032 14.7614 0.782318 14.6149 0.635805C14.4684 0.489292 14.2697 0.406982 14.0625 0.406982C13.8553 0.406982 13.6566 0.489292 13.5101 0.635805C13.3636 0.782318 13.2812 0.981032 13.2812 1.18823V3.53198H11.7188V1.18823C11.7188 0.981032 11.6364 0.782318 11.4899 0.635805C11.3434 0.489292 11.1447 0.406982 10.9375 0.406982C10.7303 0.406982 10.5316 0.489292 10.3851 0.635805C10.2386 0.782318 10.1562 0.981032 10.1562 1.18823V3.53198H8.59375V1.18823ZM10.1562 8.21948H14.8438C15.4654 8.21948 16.0615 8.46641 16.501 8.90595C16.9406 9.34549 17.1875 9.94163 17.1875 10.5632V15.2507C17.1875 15.8723 16.9406 16.4685 16.501 16.908C16.0615 17.3476 15.4654 17.5945 14.8438 17.5945H10.1562C9.53465 17.5945 8.93851 17.3476 8.49897 16.908C8.05943 16.4685 7.8125 15.8723 7.8125 15.2507V10.5632C7.8125 9.94163 8.05943 9.34549 8.49897 8.90595C8.93851 8.46641 9.53465 8.21948 10.1562 8.21948V8.21948Z" fill="currentColor" />
                            </svg>

                            <!-- Mqtt -->
                            <svg x="62.5" y="35.7035" width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg"
                                 class="text-blueGray-700" v-if="item.Type == 2">
                                <path d="M10.1562 9.78198C9.94905 9.78198 9.75034 9.86429 9.60382 10.0108C9.45731 10.1573 9.375 10.356 9.375 10.5632V15.2507C9.375 15.4579 9.45731 15.6566 9.60382 15.8032C9.75034 15.9497 9.94905 16.032 10.1562 16.032H14.8438C15.051 16.032 15.2497 15.9497 15.3962 15.8032C15.5427 15.6566 15.625 15.4579 15.625 15.2507V10.5632C15.625 10.356 15.5427 10.1573 15.3962 10.0108C15.2497 9.86429 15.051 9.78198 14.8438 9.78198H10.1562Z" fill="currentColor" />
                                <path d="M8.59375 1.18823C8.59375 0.981032 8.51144 0.782318 8.36493 0.635805C8.21841 0.489292 8.0197 0.406982 7.8125 0.406982C7.6053 0.406982 7.40659 0.489292 7.26007 0.635805C7.11356 0.782318 7.03125 0.981032 7.03125 1.18823V3.53198C5.99525 3.53198 5.00168 3.94353 4.26911 4.6761C3.53655 5.40866 3.125 6.40223 3.125 7.43823H0.78125C0.57405 7.43823 0.375336 7.52054 0.228823 7.66706C0.08231 7.81357 0 8.01228 0 8.21948C0 8.42668 0.08231 8.6254 0.228823 8.77191C0.375336 8.91842 0.57405 9.00073 0.78125 9.00073H3.125V10.5632H0.78125C0.57405 10.5632 0.375336 10.6455 0.228823 10.7921C0.08231 10.9386 0 11.1373 0 11.3445C0 11.5517 0.08231 11.7504 0.228823 11.8969C0.375336 12.0434 0.57405 12.1257 0.78125 12.1257H3.125V13.6882H0.78125C0.57405 13.6882 0.375336 13.7705 0.228823 13.9171C0.08231 14.0636 0 14.2623 0 14.4695C0 14.6767 0.08231 14.8754 0.228823 15.0219C0.375336 15.1684 0.57405 15.2507 0.78125 15.2507H3.125V16.8132H0.78125C0.57405 16.8132 0.375336 16.8955 0.228823 17.0421C0.08231 17.1886 0 17.3873 0 17.5945C0 17.8017 0.08231 18.0004 0.228823 18.1469C0.375336 18.2934 0.57405 18.3757 0.78125 18.3757H3.125C3.125 19.4117 3.53655 20.4053 4.26911 21.1379C5.00168 21.8704 5.99525 22.282 7.03125 22.282V24.6257C7.03125 24.8329 7.11356 25.0316 7.26007 25.1782C7.40659 25.3247 7.6053 25.407 7.8125 25.407C8.0197 25.407 8.21841 25.3247 8.36493 25.1782C8.51144 25.0316 8.59375 24.8329 8.59375 24.6257V22.282H10.1562V24.6257C10.1562 24.8329 10.2386 25.0316 10.3851 25.1782C10.5316 25.3247 10.7303 25.407 10.9375 25.407C11.1447 25.407 11.3434 25.3247 11.4899 25.1782C11.6364 25.0316 11.7188 24.8329 11.7188 24.6257V22.282H13.2812V24.6257C13.2812 24.8329 13.3636 25.0316 13.5101 25.1782C13.6566 25.3247 13.8553 25.407 14.0625 25.407C14.2697 25.407 14.4684 25.3247 14.6149 25.1782C14.7614 25.0316 14.8438 24.8329 14.8438 24.6257V22.282H16.4062V24.6257C16.4062 24.8329 16.4886 25.0316 16.6351 25.1782C16.7816 25.3247 16.9803 25.407 17.1875 25.407C17.3947 25.407 17.5934 25.3247 17.7399 25.1782C17.8864 25.0316 17.9688 24.8329 17.9688 24.6257V22.282C19.0048 22.282 19.9983 21.8704 20.7309 21.1379C21.4634 20.4053 21.875 19.4117 21.875 18.3757H24.2188C24.426 18.3757 24.6247 18.2934 24.7712 18.1469C24.9177 18.0004 25 17.8017 25 17.5945C25 17.3873 24.9177 17.1886 24.7712 17.0421C24.6247 16.8955 24.426 16.8132 24.2188 16.8132H21.875V15.2507H24.2188C24.426 15.2507 24.6247 15.1684 24.7712 15.0219C24.9177 14.8754 25 14.6767 25 14.4695C25 14.2623 24.9177 14.0636 24.7712 13.9171C24.6247 13.7705 24.426 13.6882 24.2188 13.6882H21.875V12.1257H24.2188C24.426 12.1257 24.6247 12.0434 24.7712 11.8969C24.9177 11.7504 25 11.5517 25 11.3445C25 11.1373 24.9177 10.9386 24.7712 10.7921C24.6247 10.6455 24.426 10.5632 24.2188 10.5632H21.875V9.00073H24.2188C24.426 9.00073 24.6247 8.91842 24.7712 8.77191C24.9177 8.6254 25 8.42668 25 8.21948C25 8.01228 24.9177 7.81357 24.7712 7.66706C24.6247 7.52054 24.426 7.43823 24.2188 7.43823H21.875C21.875 6.40223 21.4634 5.40866 20.7309 4.6761C19.9983 3.94353 19.0048 3.53198 17.9688 3.53198V1.18823C17.9688 0.981032 17.8864 0.782318 17.7399 0.635805C17.5934 0.489292 17.3947 0.406982 17.1875 0.406982C16.9803 0.406982 16.7816 0.489292 16.6351 0.635805C16.4886 0.782318 16.4062 0.981032 16.4062 1.18823V3.53198H14.8438V1.18823C14.8438 0.981032 14.7614 0.782318 14.6149 0.635805C14.4684 0.489292 14.2697 0.406982 14.0625 0.406982C13.8553 0.406982 13.6566 0.489292 13.5101 0.635805C13.3636 0.782318 13.2812 0.981032 13.2812 1.18823V3.53198H11.7188V1.18823C11.7188 0.981032 11.6364 0.782318 11.4899 0.635805C11.3434 0.489292 11.1447 0.406982 10.9375 0.406982C10.7303 0.406982 10.5316 0.489292 10.3851 0.635805C10.2386 0.782318 10.1562 0.981032 10.1562 1.18823V3.53198H8.59375V1.18823ZM10.1562 8.21948H14.8438C15.4654 8.21948 16.0615 8.46641 16.501 8.90595C16.9406 9.34549 17.1875 9.94163 17.1875 10.5632V15.2507C17.1875 15.8723 16.9406 16.4685 16.501 16.908C16.0615 17.3476 15.4654 17.5945 14.8438 17.5945H10.1562C9.53465 17.5945 8.93851 17.3476 8.49897 16.908C8.05943 16.4685 7.8125 15.8723 7.8125 15.2507V10.5632C7.8125 9.94163 8.05943 9.34549 8.49897 8.90595C8.93851 8.46641 9.53465 8.21948 10.1562 8.21948V8.21948Z" fill="currentColor" />
                            </svg>
                        </template>

                    </g>
                </g>

                <!-- Name And Description -->
                <text y="90" x="75" fill="#333" dominant-baseline="middle" text-anchor="middle" class="text-xs fill-current text-blueGray-700 font-bold">{{item.Name}}</text>
                <text y="110" x="75" fill="#333" dominant-baseline="middle" text-anchor="middle" class="text-xs fill-current text-blueGray-400">{{item.Description}}</text>

                <defs>
                    <filter id="filter0_d" x="43.5" y="16.7035" width="63" height="63" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                        <feOffset />
                        <feGaussianBlur stdDeviation="2" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.05 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                    </filter>
                    <clipPath id="clip0">
                        <rect width="25" height="25" fill="white" transform="translate(62.5 35.7035)" />
                    </clipPath>
                </defs>
            </svg>
        </template>

        <!-- Links -->
        <!--<template v-for="(item, index) in FlowLinks" :key="'flowLinks-' + index">
            <path :d="item.path" stroke="currentColor" stroke-width="2" stroke-linecap="round" fill="none"
              class="text-coolGray-400"/>
        </template>-->



    </svg>
</template>

<script>
    export default {
        props: {
            modelValue: {
                type: Object, // { Items: [{  AutomationItemId, AutomationType, Type, Name, Description }], Links: [{ AutomationItemLinkId, ParentAutomationItemId, ChildAutomationItemId, Type, Points: [{ x, y }] }] }
                required: true,
            },
            dotSize: {
                type: [Number, String],
                validator: val => val > 0,
                default: () => 1
            },
            dotColor: {
                type: String,
                default: () => "#ddd"
            },
            gridSpace: {
                type: [Number, String],
                validator: val => val > 0,
                default: () => 10
            },
            snapSensitivity: {
                type: [Number],
                validator: val => val > 0,
                default: () => 5
            }
        },
        emits: ['update:modelValue'],
        data: function () {
            return {
                draggingItem: undefined,
            }
        },
        methods: {
            itemMouseDown: function (item) {
                this.draggingItem = item;
            },
            onMouseMove: function (event) {
                event.preventDefault();
                if (this.draggingItem) {

                    var value = JSON.parse(JSON.stringify(this.modelValue));
                    var linkFromIndex = value.Links.findIndex(x => x.ChildAutomationItemId == this.draggingItem.AutomationItemId);
                    var linkToIndex = value.Links.findIndex(x => x.ParentAutomationItemId == this.draggingItem.AutomationItemId);

                    var point = { x: event.offsetX, y: event.offsetY };

                    // Check if there there are items that the item could snap to
                    var insideRange = (point1, point2) => point1 < point2 + this.snapSensitivity && point1 > point2 - this.snapSensitivity;
                    var sPoint = this.SnappablePoints.find(sp => insideRange(sp.x, point.x) || insideRange(sp.y, point.y));

                    if (sPoint) {
                        if (point.x - sPoint.x > point.y - sPoint.y) point.y = sPoint.y
                        if (point.x - sPoint.x < point.y - sPoint.y) point.x = sPoint.x
                    }



                    if (linkFromIndex > -1) {
                        value.Links[linkFromIndex].Points.pop();
                        value.Links[linkFromIndex].Points.push(point);
                    }
                    if (linkToIndex > -1) {
                        value.Links[linkToIndex].Points.shift();
                        value.Links[linkToIndex].Points.unshift(point);
                    }

                    this.$emit("update:modelValue", value);
                }
            },
            onMouseUp: function () {
                this.draggingItem = undefined;
            },
        },
        computed: {
            SnappablePoints: function () {
                return [].concat(
                    this.modelValue.Links.map(link => link.Points[0]),
                    this.modelValue.Links.map(link => link.Points.slice(-1)[0]),
                )
            },
            LinkParentDict: function () {
                return this.modelValue.Links.reduce((obj, curr) => {
                    obj[curr.ParentAutomationItemId] = curr;
                    return obj;
                }, {});
            },
            LinkChildDict: function () {
                return this.modelValue.Links.reduce((obj, curr) => {
                    obj[curr.ChildAutomationItemId] = curr;
                    return obj;
                }, {});
            },
            FlowItem: function () {
                return this.modelValue.Items.map(x => {
                    x.Point = this.LinkParentDict[x.AutomationItemId]?.Points[0] || this.LinkChildDict[x.AutomationItemId].Points.slice(-1)[0];
                    return x;

                })
            },

            FlowLinks: function () {
                var margin = { Top: 50, Right: 40, Bottom: 0, Left: 40 };

                return this.modelValue.Links.map(link => {

                    link.path = link.Points.reduce(function (str, point, index, arr) {
                        var prevPoint = arr[arr.length - 2];
                        var offset = { x: 0, y: 0 };
                        var dir = { x: 0, y: 0 };

                        if (index == 0) {
                            // Set the start point
                            dir = { x: arr[1].x - point.x, y: arr[1].y - point.y };

                            if (dir.x > 0) offset.x = margin.Right;
                            else if (dir.x < 0) offset.x = margin.Left;

                            if (dir.y > 0) offset.y = margin.Bottom;
                            else if (dir.y < 0) offset.y = margin.Top;

                            return `M${offset.x + point.x} ${offset.y + point.y}`;
                        }
                        else if (index == arr.length - 1) {
                            dir = { x: point.x - prevPoint.x, y: point.y - prevPoint.y };

                            if (dir.x > 0) offset.x = margin.Right;
                            else if (dir.x < 0) offset.x = margin.Left;

                            if (dir.y > 0) offset.y = -margin.Top;
                            else if (dir.y < 0) offset.y = margin.Bottom;
                        }

                        // Handle only horisontal and vertical lines
                        if (point.x !== prevPoint.x && point.y == prevPoint.y) str += `L ${point.x - offset.x} ${prevPoint.y}`;
                        else if (point.x == prevPoint.x && point.y !== prevPoint.y) str += `L ${point.x} ${offset.y + point.y}`;
                        else {
                            str += `L ${point.x} ${prevPoint.y}`;
                            str += `L ${point.x} ${offset.y + point.y}`;
                        }

                        return str

                    }, "")

                    return link;
                })


                
            },
        },
        watch: {

        },
        mounted: function () {

        }
    }
</script>
