<template>
    <!-- Overview -->
    <!-- Overview -->
    <div class="w-full h-4/12 bg-blueGray-100 shadow-default rounded-md">
    </div>
    
    <!-- Most used Devices -->
    <!-- Most used Devices -->
    <div class="mt-3 grid gap-3 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">

        <div v-for="device in device.List" :key="device.DeviceId"
             class="shadow rounded-lg bg-white overflow-hidden"
             @click="showModalForDevice(device)">
            <div class="px-3 py-2">
                <div class="flex justify-between">
                    <h5>{{device.Name}}</h5>
                    <div>
                        <input type="checkbox" class="form-control-checkbox" />
                    </div>
                </div>
                <div class="text-sm text-coolGray-400">Solid Color</div>
            </div>

            <div class="h-4 bg-gray-100"></div>
        </div>
        
    </div>

    <!-- Device Card Modal -->
    <!-- Device Card Modal -->
    <modal-element :title="modal.device.Name" v-model:show="modal.device._show" size="xs">
        <template #body>
            <div class="grid gap-2">
                <div class="text-right" v-if="modal.device.Features.some(x=> x.Type === 1)">
                    <input type="checkbox" class="form-control-checkbox"
                           :checked="String(modal.device.Data[modal.device.Features.some(x=> x.Type === 1).DeviceTypeFeatureId]) == 'true'"
                           @input="setDeviceTimeout" />
                </div>
                <template v-for="feature in modal.device.Features">
                    <div class="flex justify-center" v-if="feature.Type == 2" :key="feature.DeviceTypeFeatureId">
                        <color-wheel v-model="modal.device.Data[feature.DeviceTypeFeatureId]" @input="setDeviceTimeout"></color-wheel>
                    </div>
                    <div class="form-control-group" v-else-if="feature.Type == 4" :key="feature.DeviceTypeFeatureId">
                        <label class="block mb-1">{{feature.Name}}</label>
                        <input-slider v-model="modal.device.Data[feature.DeviceTypeFeatureId]"></input-slider>
                    </div>
                    <div class="form-control-group" v-else-if="feature.Type == 5" :key="feature.DeviceTypeFeatureId">
                        <label>{{feature.Name}}</label>
                        <select class="form-control" v-model="modal.device.Data[feature.DeviceTypeFeatureId]" @input="setDeviceTimeout">
                            <option v-for="item in DimensionDict[feature.DimensionId]" :key="'dimreg-' + item.DimensionRegisterId" :value="item.Code">{{item.Value}}</option>
                        </select>
                    </div>
                    <div class="form-control-group" v-else-if="feature.Type == 6" :key="feature.DeviceTypeFeatureId">
                        <label class="block mb-1">{{feature.Name}}</label>
                        <input-slider v-model="modal.device.Data[feature.DeviceTypeFeatureId]"></input-slider>
                    </div>
                    <div class="form-control-group" v-else-if="feature.Type == 7" :key="feature.DeviceTypeFeatureId">
                        <label class="block mb-1">{{feature.Name}}</label>
                        <input type="checkbox" class="form-control-checkbox" v-model="modal.device.Data[feature.DeviceTypeFeatureId]"/>
                    </div>
                </template>
            </div>
        </template>
    </modal-element>
    
</template>

<script>
    var deviceSetTimeout = null;

    export default {

        data: function() {
            return {
                device: {
                    List: [],
                    Filter: {}
                },

                modal: {
                    device: {
                        _show: false,
                        //Color: "#EBD314",
          
                        DeviceId: 0,
                        Name: "",
                        Features: []
                    }
                },

                lookup: {
                    Dimensions: [],
                }
            }
        },
        methods: {
            fetchDevices: function(){
                return this.$dataService.Device.GetList()
                    .then(data => this.device.List = data)
            },
            fetchDimensions: function () {
                var request = {
                    DimensionIds: this.device.List.flatMap(x => x.Features.map(x => x.DimensionId)).filter(x=> x > 0)
                }

                if (request.DimensionIds.length === 0) return;

                return this.$dataService.Dimension.GetList(request).then(dataList => {
                    this.lookup.Dimensions = dataList;
                });
            },
            showModalForDevice: function (device) {
                if (!device || !device.DeviceId) return;
                this.modal.device = device;
                this.modal.device._show = true;
            },
            changeDeviceModalColor: function (hexColor) {
                console.log(hexColor);

                var featureId = this.modal.device.Features.some(x => x.Type === 1).DeviceTypeFeatureId;
                this.modal.device.Data[featureId] = hexColor;

                this.setDeviceTimeout();
            },

            setDevice: function () {
                var deviceId = this.modal.device.DeviceId;
                var request = this.modal.device.Data;

                return this.$dataService.Device(deviceId).Set(request)
                    .then(data => {
                        this.modal.device.Data = data;

                        //var index = this.device.List.findIndex(x => x.DeviceId = request.DeviceId);
                        //this.device.List[index].

                        this.device.List.find(x=> x.DeviceId == deviceId)

                    })
            },
            setDeviceTimeout: function () {
                clearTimeout(deviceSetTimeout);
                deviceSetTimeout = setTimeout(this.setDevice, 100);
            },

        },
        computed: {
            DimensionDict: function () {
                return this.lookup.Dimensions
                    .reduce((dict, curr) => {
                        dict[curr.DimensionId] = curr.Register;
                        return dict;
                    }, {});
            }
        },
        watch: {
            //'modal.device.Data': {
            //    deep: true,
            //    handler: function () {
            //        if (!this.modal.device._show) return;
            //        if (this.modal.device.DeviceId < 1) return;

            //        this.setDeviceTimeout();
            //    }
            //}
        },
        mounted: function() {

            this.fetchDevices()
                .then(this.fetchDimensions);

        }
    }
</script>
