<template>
    <router-view id="app" :class="{'dark': darkMode}" />
</template>
<script>
    export default {
        data() {
            return {
                darkMode: null,
            }
        },
        mounted() {
            this.darkMode = localStorage.getItem('darkMode') || "";

            // IF DARKMODE IS NOT GET THE USER PREFERENCE
            if (["true", "false"].indexOf(this.darkMode.toString()) === -1) {
                this.darkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
                localStorage.setItem("darkMode", this.darkMode);
            }

            if (this.$store.getters['Auth/isAuthorized'])
                this.$store.dispatch("Auth/fetchUser")
                    .catch(() => this.$router.push({ name: 'Login' }))
            else
                this.$router.push({ name: 'Login' })
            //this.$store.dispatch("Auth/signin", { Username: "Eythorsson", Password: "3p1ekakE!" });
        }
    }
</script>